<div id="socialmedia" class="mediacontent">
  <div class="media">
    <h4>Share us</h4>
    <div class="share-icons">
      <div class="icon_unit">
        <a href="https://twitter.com/intent/tweet?text=Arboverse, the arbovirus universe &url=https://arboverse.com via @arboverse"
        data-size="small"><i class="fa fa-twitter" style="color: white"></i>Tweet</a>
      </div>
      <div class="icon_unit">
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://arboverse.com" data-size="small"><i
          class="fa fa-facebook" style="color: white"></i>Facebook</a>
      </div>
    </div>
  </div>
  <div class="media">
    <h4>Follow us</h4>
    <div class="share-icons">
      <a href="https://twitter.com/arboverse" target="_blank"><i class="fa fa-twitter fa-2x"
          style="color: white"></i></a>
    </div>
  </div>
  <div class="media">
    <h4>Contact us</h4>
    <div class="share-icons">
      <a href="mailto:arboverse@arboverse.com"><i class="fa fa-envelope fa-2x" style="color: white"></i></a>
    </div>
  </div>
</div>
