<div id="socialmedia" class="mediacontent">
  <div class="media">
    <h4>Share the page</h4>
    <div class="share-icons">
      <a
        href="https://twitter.com/intent/tweet?text=TITULO&url=LINK&via=SEUPERFIL"
        target="_blank"
        ><i class="fa fa-twitter fa-2x" style="color: white"></i
      ></a>
      <a
        href="https://twitter.com/intent/tweet?text=TITULO&url=LINK&via=SEUPERFIL"
        target="_blank"
        ><i class="fa fa-facebook fa-2x" style="color: white"></i
      ></a>
    </div>
  </div>
  <div class="media">
    <h4>Follow us</h4>
    <div class="share-icons">
      <a href="https://twitter.com/wmarciels" target="_blank"
        ><i class="fa fa-twitter fa-2x" style="color: white"></i
      ></a>
    </div>
  </div>
  <div class="media">
    <h4>Contact us</h4>
    <div class="share-icons">
      <a href="mailto:wmarciel@hotmail.com"
        ><i class="fa fa-envelope fa-2x" style="color: white"></i
      ></a>
    </div>
  </div>
</div>
