<section class="contact">
  <div class="footer-wrapper">
    <div class="logo-foot">
      <img src="../static/images/logos/logo-arboverse.png">
      <h3><span class="white">ARBO</span><span class="orange">VERSE</span></h3>
    </div>
    <div class="navigation-links ">
      <h4>Explore</h4>
      <ul class="nav-links nav-foot">
        <li><a href="index.html" aria-label="Link for home">HOME</a></li>
        <li><a href="arboverse.html" aria-label="Link for arboverse plattform">ARBOVERSE</a></li>
        <li><a href="arbodash.html" aria-label="Link for research">ARBODASH</a></li>
        <li><a href="arbodata.html" aria-label="Link for publications">ARBODATA</a></li>
        <li><a href="collaborators.html" aria-label="Link for collaborators">COLLABORATE</a></li>
      </ul>
    </div>
    <div class="social-wrapper">
      <h4>Contact us</h4>
      <div class="media-wrapper">
        <div class="social-unit">
          <a href="https://twitter.com/intent/tweet?text=TITULO&url=LINK&via=SEUPERFIL" target="_blank"><i
              class="fa fa-twitter "></i></a>
        </div>
        <div class="social-unit">
          <a href="mailto:arboverse@arboverse.com"><i class=" fa fa-regular fa-envelope"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>