
<!--FUNDING-->
<section class="funding_section">
    <div class="line-grey"></div>
    <div class="fund-wrapper">
        <div class="fund-endorsed">
            <h6>Developed by</h6>
            <div class="support">
                <a href="https://desouzalab.com" aria-label="De Souza Lab homepage link" target="_blank"><img src="../static/images/logos/DeSouzaLAB_logo.png"></a>
            </div>
        </div>
        <div class="fund-support">
            <h6>Supported by</h6>
            <div class="support">
                <a href="https://gvn.org" aria-label="GVN homepage link" target="_blank"><img src="../static/images/logos/logoGVN-3.png"></a>
                <a href="https://wellcome.org" aria-label="Wellcome homepage link" target="_blank"><img src="../static/images/logos/wellcome-logo-black.png"></a>
                <a href="https://www.bwfund.org" aria-label="Burroughs Wellcome Fund homepage link" target="_blank"><img src="../static/images/logos/BWF_logo.png"></a>
            </div>
        </div>
    </div>
</section>
