{% load static i18n %}
<div class="bannermenu">
  <nav>
    <div class="logo">
      <img src="{% static 'images/logos/logo-arboverse.png' %}" />
      <h4>ARBO<span>VERSE</span></h4>
    </div>
    <ul class="nav-links">
      <li>
        <a href="{% url 'home' %}" aria-label="Link for home">HOME</a>
      </li>
      <li>
        <a
          href="{% url 'arboverse' %}"
          aria-label="Link for arboverse plattform"
          >ARBOVERSE</a
        >
      </li>
      <li>
        <a href="{% url 'research' %}" aria-label="Link for arbodash, arboverse dashboard"
          >ARBODASH</a
        >
      </li>
      <li>
        <a href="{% url 'dataset' %}" aria-label="Link for arbodata, arboverse dataset"
          >ARBODATA</a
        >
      </li>
      <li>
        <a href="{% url 'news' %}" aria-label="Link for contact">CONTACT US</a>
      </li>
    </ul>
    <!--Burger Menu-->
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
  <!--Script scrool navbar-->
  <script>
    let navbar = document.querySelector("nav");
    let scrollPrevisous = window.pageYOffset;
    window.onscroll = function () {
      let scrollCurent = window.pageYOffset;
      if (scrollPrevisous > scrollCurent || scrollPrevisous < 0) {
        navbar.style.top = "0px";
      } else {
        navbar.style.top = "-90px";
      }
      scrollPrevisous = scrollCurent;
    };
  </script>
  <!--Script burgerbar toggler-->
  <script src="{% static 'js/main.js' %}"></script>