version: "3.9"

services:
  db:
    image: postgres:13
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=arboverse_db
      - POSTGRES_USER=arboverse
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
  web:
    build:
        context: .
        dockerfile: dev.dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
