DATABASE_URL=postgres://arboverse:postgres@db/arboverse_db
DJANGO_ADMIN_URL=^admin/
DJANGO_SECRET_KEY=SOME SECRET # django-admin shell on cmd, then paste these two lines: from django.core.management.utils import get_random_secret_key , get_random_secret_key()

PGSQL_USER=username
PGSQL_PASS=password
PGSQL_HOST=localhost  # set to db for usage in container, running external scripts will need localhost
PGSQL_DB=postgres_db
PGSQL_PORT=5432
DEBUG=True  # set tp false in production environment
