.bannermenu{
  background-image: url("../images/banners/arbodash-banner-min.png");
}
/*----IPAD Size portrait Banner--*/
@media screen and (min-width: 600px) and (max-width: 940px) and (orientation: portrait) {
  .bannermenu{
      background-image: url("../images/banners/arbodash-banner-mobile-min.png");
      height: 85vh;
  }
}
@media screen and (max-width:600px) and (orientation: portrait){
  .bannermenu{
      background-image:url("../images/banners/arbodash-banner-min.png");
      height: 70vh;
  }
}
main{
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.arbodash_section{
  width: 100%;
  height: auto;
  text-align: center;
  margin: 5vh; 
}
/* TABS settings */
.tab{
  width: 90%;
  margin: 5vh auto;
  height: 10vh;
  border-radius: 20px;
  background:hsla(231, 87%, 61%, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.arbodash_tablinks{
  background-color: transparent;
  width: 19%;
  border-radius: 20px;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 10px;
  transition: 0.3s;
  font-family: 'Montserrat', serif;
  font-size: 1.1rem;
  color: #4c4c4c;
  transition:  0.2s ease-in-out;
}
.arbodash_tablinks:hover{
  color: white;
  background: hsla(231, 87%, 61%, 0.2);

}
.arbodash_tablinks.active{
  color: white;
  font-weight: 500;
  background: hsla(231, 87%, 61%, 0.8)
}
.general_info{
  width: 80%;
  margin: 5vh auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.info_box{
  width:25%;
  display: flex;
  justify-content:center;
  align-items: center;
}
.info_box img{
  width: 20%;
}
.info_box .taxonomy_icon{
  width: 30%;
}
.info_text{
  width: auto;
}
.info_text h5{
  margin: 10px 10px;
  font-weight: 400;
  color: #3345A6;
  font-size: 1.1rem;
}
.info_text h6{
  margin: 0;
  font-size: 2.1rem;
  color:#b7b7b7;
}

.chart_wrapper{
  width: 100%;
  height: auto;
}
.chart_pre{ 
  width: 80%;
  height: auto;
  margin: 0 auto;
  height: auto;
}
.pre_info{
  display: block;
  text-align: left;
  margin: 3vh 0;
}
.pre_info h3{
  color:#3345A6;
  font-size: 1.3rem;
  margin: 10px 0;
}
.pre_info h2{
  color:#676767;
}
.chart_gather{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.chart_one_cover{
  position: relative;
  width: 100%;
  height: auto;
  margin: 8vh auto;
}
.chart_two_cover{
  position: relative;
  width: 50%;
  height: auto;
  display: flex;
  margin: 5vh 0;
}
.chart_three_cover{
  position: relative;
  width: 50%;
  height: auto;
  display: flex;
  margin: 3vh 0;
}
.chart_one_taxonomy{
  width: 100%;
  height: auto;
  margin: 5vh 0;
}
.taxonomy_circle{
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chart_two_taxonomy{
  position: relative;
  width: 50%;
  height: auto;
  display: flex;
  margin: 5vh 0;
}
.chart_three_taxonomy{
  position: relative;
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh 0;
}
.distribution_map{
  position: relative;
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh 0;
}
.chart_two_distribution{
  position: relative;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh 0;
  
}
.chart_two_disease{
  position: relative;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh auto;
}
.chart_one_transmission,
.chart_two_transmission{
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10vh auto;
}