* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif, serif;
  background-color: hsl(0, 0%, 98%);
  margin: 0 auto;
}
:root {
  --light-body: #c4c4c433;
  --light-main: #efefef;
  --light-hover: #dee2e7;
  --light-active: #faa545;
  --light-text: #ffffff;
  --light-button: #ecf0f3;
  --blue: #002147;
  --orange: #ff8700;
  --dark-text: #3f3f3f;
}
/*NAVIGATOR*/
.bannermenu {
  background-image: linear-gradient(
      to right bottom,
      hsla(212, 100%, 14%, 0.4),
      transparent
    ),
    url("../images/aboverse/banner_barco2.jpg");
  background-position:bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
}
.bannermenu h1 {
  font-family: "Monteserrat", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 4px;
  text-align: center;
  padding-top: 35vh;
  color: white;
}
.bannermenu h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
}
/* NAV BAR*/
nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    180deg,
    hsla(209, 100%, 13%, 0.8),
    hsla(209, 100%, 13%, 0.5),
    transparent
  );
  height: 11vh;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
.hl {
  width: 90%;
  margin: 0 auto;
  border-bottom: solid 1px hsl(0, 0%, 100%, 1);
  position: relative;
  top: 11vh;
}
nav img {
  width: 10%;
  height: 10%;
  margin-right: 10px;
}
.logo {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 1.3rem;
  padding-left: 5%;
}
.logo span {
  color: #ff8700;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-links li {
  list-style: none;
  font-weight: bold;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px;
  margin: 5px;
}
.nav-links a:hover {
  color: #002147;
  background-color: hsla(0, 0%, 100%, 0.4);
  border-radius: 10px;
}

/*Burger features*/
.burger {
  display: none;
}
.burger div {
  cursor: pointer;
  width: 30px;
  height: 5px;
  background-color: white;
  margin: 3px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1050px) {
  .nav-links {
    width: 60%;
  }
}
/* NAVIGATOR TABLET SIZE*/
@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 45vh;
    top: 12vh;
    background: linear-gradient(
      to bottom,
      hsla(212, 69%, 28%, 0.7),
      hsla(212, 69%, 28%, 0.4)
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    margin-right: 30px;
  }
  .nav-active {
    transform: translateX(0%);
  }
}
/*LINK FADE*/
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/*-----Burger-----*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* NAVIGATOR MOBILE SIZE*/
@media screen and (max-width: 450px) {
  nav {
    height: 8vh;
  }
  .logo {
    font-size: 1rem;
    padding-left: 15px;
  }
  nav img {
    width: 11%;
    height: 11%;
  }
  .burger {
    margin-right: 20px;
  }
  .burger div {
    width: 25px;
    height: 3px;
    margin-right: 15px;
  }
  .nav-links {
    top: 9vh;
    height: 39vh;
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 4px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -4px);
  }
}
/*NAVIGATOR FOR LANDSCAPE*/
@media screen and (min-width: 650px) and (max-width: 750px) and (orientation: landscape) {
  nav {
    height: 15vh;
  }
  nav img {
    width: 7%;
    height: 7%;
  }
  .hl {
    padding-bottom: 10px;
  }
  .burger div {
    width: 25px;
    height: 3px;
    margin-right: 15px;
  }
  .nav-links {
    top: 15vh;
    height: 80vh;
  }
  .logo {
    font-size: 1rem;
    padding-left: 15px;
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 4px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -4px);
  }
}

/* BANNER TABLET SIZE*/
@media screen and (max-width: 900px) {
  .bannermenu {
    height: 25rem;
    background-position: bottom;
  }
  .hl {
    top: 12vh;
  }
  .bannermenu h1 {
    font-size: 2.7rem;
    padding-top: 27vh;
    letter-spacing: 1px;
  }
  .bannermenu h3 {
    font-size: 1.2rem;
  }
}

/*BANNER MOBILE SIZE*/
@media screen and (max-width: 450px) {
  .bannermenu {
    height: 20rem;
    background-position: bottom;
  }
  .bannermenu h1 {
    padding-top: 20vh;
    font-size: 1.8rem;
  }
  .bannermenu h3 {
    font-size: 0.9rem;
  }
  .hl {
    top: 8vh;
  }
}
/* ================ CATALOGUE ==========*/
.catalogue{
  margin: 5vh 0;
  height: 100%;
  text-align: center;
}
.arbovirus-catalogue,
.vector-catalogue{
  padding: 30px 10px;
  text-align: center;
  width:45%;
  margin: 20px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.arbovirus-content h2,
.vector-catalogue h2{
  font-family: 'montserrat', serif;
  color: var(--blue);
}
.sec-title{
  color:var(--orange);
}
/*==== Search catalogue area ======*/
.search{
  width:100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 30px 20px;
}
.search-virus{
  width: 70%;
  border: solid 1px #FF8700;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius:  5px 0 0 5px;
  outline: none;
  font-family: 'Montserrat', serif;
  color:var(--dark-text);
}
.search-virus:focus{
  color:#FF8700;
}
.searchbutton{
  width: 40px;
  height: 30px;
  border: solid 1px #FF8700;
  background: #FF8700;
  text-align: center;
  color: #fff;
  border-radius:  0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.searchbutton:hover,
.searchbutton:active{
  background: #e27902;
}
.search-vector{
  width: 70%;
  border: solid 1px #002147;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius:  5px 0 0 5px;
  outline: none;
  font-family: 'Montserrat', serif;
  color:var(--dark-text);
}
.search-vector:focus{
  color:var(--blue);
}
.searchbutton-vector{
  width: 40px;
  height: 30px;
  border: solid 1px #002147;
  background: #210047;
  text-align: center;
  color: #fff;
  border-radius:  0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.searchbutton-vector:hover,
.searchbutton-vector:active{
  background: #003775;
}
/*====== Accordion Catalogue  Arbovirus / vector========*/
.row-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.tab input{
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tabs{
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0,0.5);
}
.tab{
  width: 100%;
  overflow: hidden;
}
.tab .tab-label{
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border-bottom: solid 1px hsla(32, 100%, 50%,0.2);
  font-weight: 600;
  cursor: pointer;
  font-family: 'montserrat', serif;
  color:var(--dark-text);
}
.tab-label:hover{
  background: hsla(32, 100%, 50%, 0.2);
}
.tab-label::after{
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.3s;
  color:var(--orange);
}
.tab .tab-label-vec{
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border-bottom: solid 1px hsla(212, 100%, 14%,0.2);
  font-weight: 600;
  cursor: pointer;
  font-family: 'montserrat', serif;
  color:var(--dark-text);
}
.tab-label-vec:hover{
  background: hsla(212, 100%, 14%,0.2);
}
.tab-label-vec::after{
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.3s;
  color: var(--blue);
}
.tab-content{
  max-height: 0;
  padding: 0 1em;
  color: #002147;
  background: white;
  transition: all 0.3s;
}
.tab input:checked + .tab-label{
  background: hsla(32, 100%, 50%, 0.3);
}
.tab input:checked + .tab-label-vec{
  background: hsla(212, 100%, 14%,0.3);
}
.tab input:checked + .tab-label::after,
.tab input:checked + .tab-label-vec::after
{
  transform: rotate(90deg);
  color: var(--dark-text);
}
.tab input:checked ~ .tab-content{
  max-height: 100vh;
  padding: 1em;
}
.tab-content-unit{
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px hsla(0, 0%, 50%, 0.3);
}
.tab-content-unit h5{
  width: 35%;
  margin-left: 15px;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 600;
}
.tab-content-unit output{
  margin-left: 10px;
  width: 55%;
  text-align: left;
  color:var(--dark-text);
  font-size: 0.9rem;
}
@media screen and (max-width:900px){
  .row-wrapper{
    flex-direction: column;
  }
  .arbovirus-catalogue,
  .vector-catalogue{
    margin: 10px auto;
    width: 85%;
  }
  .tab-content-unit{
    padding: 10px 10px;
  }
}
/* Mobile Catalogue*/
@media screen and (max-width:450px){
  .arbovirus-catalogue,
  .vector-catalogue{
    width: 90%;
  }

}

/* ======= GRID for Map =======*/
.grid{
  height: 95vh;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: [first] 80px [line2] 320px 1fr 1fr;
  grid-template-rows: 95% 5%;
}
/*Main side menu*/
#menulateral {
  display: flex;
  flex-direction: column;
  width: 80px;
  text-align: center;
  grid-area: 1 / 1 / 3 / 2;
  z-index: 10;
  margin-left: 0px;
  margin-top: 0px;
}
/*Main button side menu*/
.item-button {
  padding: 10px;
  cursor: pointer;
  background-color: var(--light-main);
  border-bottom: solid 1px hsla(0, 0%, 50%, 0.3);
}
.item-button:hover {
  background-color: var(--light-hover);
}
.btn-active {
  background-color: #b9c8e3;
}
.check{
  width:16px;
  height: 16px;
  background-color: hsla(32, 100%, 50%, 0.7);
  padding: 1px;
  border-radius: 50%;
  text-align: center;
  color:white;
  font-family: 'montserrat', serif;
  position: absolute;
  z-index: 10;
  transform: translateX(-20px) translateY(-100%);
  font-size: 0.7rem;
  font-weight: bold;
}
.check:hover{
  background-color: hsla(32, 100%, 50%, 1);
}
.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*Main button Image side menu*/
.button-wrapper img {
  width: 50%;
  height: 50%;
}
.button-wrapper span {
  margin-top: 5px;
  font-size: 0.6rem;
  color: var(--dark-text);
}
/* MOBILE main menu map*/
@media screen and (max-width:600px){
  .grid{
    width:100%;
    height:85vh;
    grid-template-columns: [first] 320px 1fr;
    grid-template-rows: 30% 60% 10% ;
  }
  #menulateral{
    flex-direction:row;
    height: 45px;
    width:100%;
    grid-area: 3 / 1 / 4 / 3;
    flex-wrap: nowrap;
    position: relative;
    margin-left: 1px;
  }
  .item-button{
    margin: 2px;
    padding: 6px;
    border-radius: 3px;
    border-bottom: none;
    border: solid 1px hsla(0, 0%, 50%, 0.2);
  }
  .button-wrapper img{
    width: 30px;
    height: 30px;
  }
  .button-wrapper span{
    margin-top: 0px;
    display: none;
  }
  .check{
    transform: translateX(-15px) translateY(-60%);
  }
}
/* Mobile landscape side menu*/
@media screen and (min-width:600px) and (max-width: 750px) and (orientation: landscape){
  .button-wrapper img{
    width: 30px;
    height: 30px;
  }
  .item-button{
    padding: 4px;
  }
  .button-wrapper span{
    margin-top: 0px;
    display: none;
  }
  .check{
    transform: translateX(-20px) translateY(-50%);
  }
}
/*====== Second Side Menu ====== */
/*Sub menu features*/
/* discovery, distribution and Vector*/
.sub-menu {
  text-align: center;
  display: block;
  overflow-x: hidden;
  width: 0px; /*width declared in the js*/
  grid-area: 1 / 2 / 2 / 3;
  z-index: 10;
  position: relative;
  background-color: var(--light-main);
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
.closebtn {
  text-decoration: none;
  color: var(--blue);
}
.closebtn:hover {
  color: var(--orange);
}
.sub-menu .closebtn,
.sub-second-menu .closebtn,
.sub-th-menu .closebtn,
.sub-fou-menu .closebtn,
.sub-fiv-menu .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
  margin-left: 50px;
}
/* discovery, distribution and vector*/
.title-sub {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.title-sub h6{
  width: 65%;
  text-align: left;
  font-weight: 400;
  font-size: 0.8rem;
  font-family: "montserrat", serif;
  color: var(--dark-text);
}
.sub-1,
.sub-2 {
  height: 300px;
}
/*Sub menu features*/
/* Climate*/
.sub-second-menu {
  width: 0;
  text-align: center;
  overflow-x: hidden;
  display: block;
  height: 350px;
  grid-area: 1 / 2 / 2 / 3;
  z-index: 11;
  position: relative;
  background-color: var(--light-main);
  transition: all 0.2s ease-in-out;
}
/* sub-menu head*/
.sub-menu h3,
.sub-second-menu h3,
.sub-th-menu h3,
.sub-fou-menu h3,
.sub-fiv-menu h3 {
  margin-top: 15px;
  font-family: "montserrat", serif;
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
  padding: 10px 0;
  color: var(--blue);
}

/* FOREST COVER, LAND COVER and MOBILITY*/
.sub-th-menu,
.sub-fou-menu,
.sub-fiv-menu {
  width: 0;
  display: block;
  overflow-x: hidden;
  height: 501px;
  grid-area: 1 / 2 / 2 / 3;
  z-index: 12;
  position: relative;
  background-color: var(--light-main);
  scroll-behavior: smooth;
  overflow-y: scroll;
  transition: all 0.2s ease-in-out;
}
.fa-info-circle:hover::before {
  color: rgb(116, 115, 115);
}
/*MOBILE SUB_MENU*/
@media screen and (max-width:600px){
  .sub-menu,
  .sub-second-menu{
    grid-area: 2 / 1 /3 /2;
    align-self: end;
    height: 280px;
  }
  .sub-th-menu,
  .sub-fou-menu,
  .sub-fiv-menu{
    grid-area: 2 / 1 /3 /2;
    align-self: end;
    height: 280px;
  }
}
/* Lanscape submenu*/
@media screen and (min-width:600px) and (max-width: 750px) and (orientation: landscape){
  .sub-menu{
    right: 0px;
  }
  .sub-second-menu{
    right: 0px;
    height:260px;
  }
  .sub-th-menu,
  .sub-fou-menu,
  .sub-fiv-menu{
    height: 260px;
  }
}
/* ======== MODAL BOX =========*/
.wrapper a {
  display: inline-block;
  color: #585858;
}
/* The modal div features*/
.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  opacity: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 23%, 0.7);
  transition: all 0.4s;
}
.modal:target {
  visibility: visible;
  opacity: 1;
}
/* Title of Modal box*/
.modal-title {
  padding: 30px 20px;
  text-align: center;
  line-height: 1.5;
}
.modal-title h3 {
  color: #002147;
  font-size: 1.5rem;
}
/*Sub-title of Modal Box*/
.modal-title p {
  color: gray;
  font-size: 0.7rem;
}
/* Modal content features*/
.modal__content {
  border-radius: 4px;
  position: relative;
  width: 900px;
  height: 80vh;
  max-width: 90%;
  background: white;
  padding: 1em 2em;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
/*Characteristics of the information*/
.arrow-table {
  border-bottom: solid 1px hsla(0, 0%, 50%, 0.5);
  display: flex;
  flex-direction: arrow;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  padding: 20px 20px;
  margin: 0;
}
.arrow-table h6 {
  font-size: 0.9rem;
  width: 20%;
  color: #002147;
}
.p-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 0.8rem;
  font-weight: 400;
  width: 80%;
  color: #494949;
  line-height: 1.5;
  text-align: justify;
}
.p-wrapper p {
  padding-bottom: 8px;
}
.arrow-table a {
  text-decoration: none;
  color: #ff8700;
}
/* Overview and Citation*/
.column-table {
  display: flex;
  flex-direction: column;
}
.column-table h6 {
  font-size: 0.9rem;
  color: #002147;
  text-align: center;
  padding: 15px 0;
}
.p-wrapper-column {
  font-size: 0.8rem;
  font-weight: 400;
  width: 90%;
  margin: 0 auto;
  color: #494949;
  line-height: 1.5;
  text-align: justify;
  padding-bottom: 10px;
  border-bottom: solid 1px hsla(0, 0%, 50%, 0.5);
}
.p-wrapper-column p {
  padding-bottom: 8px;
}
.p-wrapper-column a {
  text-decoration: none;
  color: white;
  background-color: #f9b16e;
  padding: 5px;
  border-radius: 5px;
}
.p-wrapper-column a:hover {
  background-color: #ff8700;
}
.p-wrapper-column li {
  padding: 5px 0;
}
.p-wrapper-column ul {
  list-style: circle;
}
/* Download Button*/
.databtn {
  text-align: center;
  padding: 30px 0;
}
.download-data {
  border: none;
  padding: 10px 20px;
  border-radius: 40px;
  background: linear-gradient(90deg, #f9b06c 0%, #f67e7e 100%);
}
.download-data a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 1px;
}
.download-data:hover {
  background: linear-gradient(90deg, #ff8700 0%, #f1515e 100%);
}
/* Modal Box closer*/
.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #585858;
  text-decoration: none;
  font-size: 3rem;
  text-align: center;
}
/*====== Tooltip of info icon=======*/
.tooltip {
  position: relative;
}
/* Tooltip  for Catalogue*/
.tooltip .tooltext-1 {
  font-size: 0.75rem;
  line-height: 1.5;
  visibility: hidden;
  width: 200px;
  background-color: #bdd9f9;
  color: var(--dark-text);
  text-align: center;
  padding: 8px 3px;
  border-radius: 5px;
  position: absolute;
  z-index: 15;
  top: -5px;
  left: 110%;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
}
.tooltip .tooltext-1::after {
  content: "";
  position: absolute;
  bottom: 50%;
  right: 100%;
  margin-top: -5px;
  border-style: solid;
  border-color:   transparent  #bdd9f9 transparent transparent ;
}
.tooltip:hover .tooltext-1 {
  visibility: visible;
  opacity: 1;
}
/*  Tooltip  for Discovery, distribution and vector*/
.tooltip .tooltext-a {
  font-size: 0.75rem;
  line-height: 1.5;
  visibility: hidden;
  width: 200px;
  background-color: #bdd9f9;
  color: var(--dark-text);
  text-align: center;
  padding: 8px 3px;
  border-radius: 5px;
  position: absolute;
  z-index: 15;
  top: 110%;
  left: 50%;
  margin-left: -190px;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
}
.tooltip .tooltext-a::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 93%;
  border-style: solid;
  border-color:  transparent transparent #bdd9f9 transparent;
}
.tooltip:hover .tooltext-a {
  visibility: visible;
  opacity: 1;
}
/*  Tooltip  for Climate, forest and land use*/
.tooltip .tooltext {
  font-size: 0.75rem;
  line-height: 1.5;
  visibility: hidden;
  width: 280px;
  background-color: #bdd9f9;
  color: var(--dark-text);
  text-align: center;
  padding: 8px 3px;
  border-radius: 5px;
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-left: -255px;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
}
.tooltip .tooltext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 90%;
  border-style: solid;
  border-color: #BDD9F9 transparent transparent transparent;
}
.tooltip:hover .tooltext {
  visibility: visible;
  opacity: 1;
}
/* tooltip of certain countries*/
.tooltip2 {
  position: relative;
  cursor: help;
}
.tooltip2 .tooltext2 {
  font-size: 0.75rem;
  line-height: 1.5;
  visibility: hidden;
  width: 200px;
  background-color: #bdd9f9;
  color: var(--dark-text);
  text-align: center;
  padding: 8px 3px;
  border-radius: 5px;
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-left: -110px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip2 .tooltext2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 90%;
  border-style: solid;
  border-color: #bdd9f9 transparent transparent transparent;
}
.tooltip2:hover .tooltext2 {
  visibility: visible;
  opacity: 1;
}
.underline {
  text-decoration: underline;
  font-size: 0.7rem;
  color: var(--dark-text);
}

/* ======== Sub-menu of CLIMATE FOREST COVER AND LAND* ==========*/
.menu-btn {
  padding: 5px;
}
/* ======= Sub-menu container features =======*/
.unit-btn,
.unit-btn2 {
  display: block;
  padding: 10px 0;
}
.unit-btn h6,
.unit-btn2 h6 {
  width: 55%;
  text-align: left;
  font-weight: 400;
  font-size: 0.8rem;
  font-family: "montserrat", serif;
  color: var(--dark-text);
}
.unit-btn2 p {
  font-size: 0.7rem;
  font-weight: 300;
  font-family: "montserrat", serif;
  padding: 5px;
  color: var(--dark-text);
  margin-left: 10px;
}
/* main division land cover */
.sub-fou-menu .area {
  margin-top: 5px;
  color: var(--dark-text);
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  padding-bottom: 2px;
  border-bottom: solid 1px hsla(0, 0%, 50%, 0.5);
}

/* ========================    INTERNAL  FEATURES    ==============*/

.unit-toggle {
  /* Switch   Button  Aligment Area */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.togglebtn {
  display: flex;
  height: 40px;
  align-items: center;
  width: 20%;
  padding: 5px;
  margin: 2px 0;
}

.marker {
  /* legend of layers */
  width: 95%;
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}
.point {
  /*point itself*/
  width: 10px;
  height: 10px;
  border-radius: 2px;
  border: solid 0.5px rgba(62, 62, 62, 0.5);
}
.point-mean {
  /* point legend*/
  font-size: 0.7rem;
  margin-left: 7px;
  margin-bottom: 2px;
  text-align: left;
  color: var(--dark-text);
  width: 60%;
}
.player {
  /* player Button */
  border: none;
}
.indice {
  width: 280px;
  margin: 3px auto;
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
}
/* legend for koppen-geiger*/
.kp_measure{
  width: 95%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.kp_group{
  display: flex;
  flex-direction: column;
}
.kp_unit{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.kp_circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 0.5px rgba(62, 62, 62, 0.5);
}
.bar-mesur {
  width: 280px;
  margin: 0 auto; /* Bar Measurement Area */
  height: 5px;
  border-radius: 5px;
}
/* Legend for human mobility*/
.circle-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.circles-scale{
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.scale-mi{
  margin-top: 15px;
  width: 25%;
  display:flex;
  flex-direction: column;
  height: 50px;
  justify-content: flex-end;
}
.scale-mi label{
  color: var(--dark-text);
  text-align: left;
  font-size: 0.6rem;
  font-family: 'montserrat', serif;
}
.onex{
  width: 5px;
  height: 5px;
  background: #FAE0E4 ;
  border: solid 1px #efefef;
  border-radius: 50%;
  position: absolute;
  z-index: 25;
}
.twox{
  width: 15px;
  height: 15px;
  background:#FBBBCB ;
  border: solid 1px #efefef;
  border-radius: 50%;
  position: absolute;
  z-index: 24;
}
.threex{
  width: 25px;
  height: 25px;
  background: #FC96B2;
  border: solid 1px #efefef;
  border-radius: 50%;
  position: absolute;
  z-index: 23;
}
.fourx{
  width: 35px;
  height: 35px;
  background: #FD618E;
  border: solid 1px #efefef;
  border-radius: 50%;
  position: absolute;
  z-index: 22;
}
.fivex{
  width: 45px;
  height: 45px;
  background: #ff0a54;
  border: solid 1px #efefef;
  border-radius: 50%;
  position: absolute;
  z-index: 21;
}
.onex1{
  width: 5px;
  height: 5px;
  background:#ade8f4;
  border: solid 1px #efefef;
  border-radius: 50%;
  position: absolute;
  z-index: 25;
}
.twox1{
  width: 15px;
  height: 15px;
  background: #48cae4;
  border: solid 1px #efefef;
  border-radius: 50%;
  position: absolute;
  z-index: 24;
}
.threex1{
  width: 25px;
  height: 25px;
  background: #0096c7;
  border: solid 1px #efefef;
  border-radius: 50%;
  position: absolute;
  z-index: 23;
}
.fourx1{
  width: 35px;
  height: 35px;
  background:#0077b6;
  border: solid 1px #efefef;
  border-radius: 50%;
  position: absolute;
  z-index: 22;
}
.fivex1{
  width: 45px;
  height: 45px;
  background:#023e8a;
  border: solid 1px #efefef;
  border-radius: 50%;
  position: absolute;
  z-index: 21;
}
.onex2{
    width: 5px;
    height: 5px;
    background:#aacc00;
    border: solid 1px #efefef;
    border-radius: 50%;
    position: absolute;
    z-index: 25;
  }
  .twox2{
    width: 15px;
    height: 15px;
    background: #80b918;
    border: solid 1px #efefef;
    border-radius: 50%;
    position: absolute;
    z-index: 24;
  }

  .threex2{
    width: 25px;
    height: 25px;
    background: #55a630;
    border: solid 1px #efefef;
    border-radius: 50%;
    position: absolute;
    z-index: 23;
  }
  .fourx2{
    width: 35px;
    height: 35px;
    background:#2b9348;
    border: solid 1px #efefef;
    border-radius: 50%;
    position: absolute;
    z-index: 22;
  }
  .fivex2{
    width: 45px;
    height: 45px;
    background:#007f5f;
    border: solid 1px #efefef;
    border-radius: 50%;
    position: absolute;
    z-index: 21;
  }
/* Bar Mesurement color features GRADIENT */

.green-s {
  background: linear-gradient(90deg, #9EF01Aff, #99EA1Aff, #93E51Bff, #8EDF1Bff, #88D91Bff, #83D41Cff, #7DCE1Cff, #78C81Cff, #72C21Cff, #6DBD1Dff, #68B71Dff, #62B11Dff, #5DAC1Eff, #57A61Eff, #52A01Eff, #4C9B1Fff, #47951Fff, #418F1Fff, #3C8A20ff, #368420ff, #317E20ff, #2C7921ff, #267321ff, #216D21ff, #1B6721ff, #166222ff, #105C22ff, #0B5622ff, #055123ff, #004B23ff);
}
.people-s {
  background: linear-gradient(
    90deg,
    #180f3e,
    #440f76,
    #721f81,
    #9e2f7f,
    #cd3f71,
    #f1605d
  );
}
.browngreen-s {
  background: linear-gradient(
    90deg,
    #774936 0%,
    #92683E 10%,
    #AC8746 20%,
    #C7A64D 30%,
    #E1C555 40%,
    #FCE45D 50%,
    #CACA4A 60%,
    #97B138 70%,
    #659725 80%,
    #327E13 90%,
    #006400 100%
  );
}
/*  Measurement size features */
.celsius,
.cubicmm,
.percentage,
.millions,
.index {
  font-size: 0.7rem;
  color: var(--dark-text);
}
.kp{
  font-size:0.6rem;
  color:var(--dark-text);
  margin-left: 1px;
}
/* Point color features  */
.af{
  background: #0000ff;
}
.am{
  background:#0077ff;
}
.aw{
  background:#47aafa;
}
.bwh{
  background:#ff0000;
}
.bwk{
  background:#ff9494;
}
.bsh{
  background:#f5a300;
}
.bsk{
  background:#ffdb66;
}
.csa{
  background: #ffff00;
}
.csb{
  background:rgb(200, 200, 0);
}
.csc{
  background:rgb(150, 150, 0);
}
.cwa{
  background: rgb(150, 255, 150);
}
.cwb{
  background:rgb(100, 200, 100);
}
.cwc{
  background:rgb(50, 150, 50);
}
.cfa{
  background: rgb(200, 255, 80);
}
.cfb{
  background:rgb(100, 255, 80);
}
.cfc{
  background:rgb(50, 200, 0);
}
.dsa{
  background: rgb(255, 0, 255);
}
.dsb{
  background: rgb(200, 0, 200);
}
.dsc{
  background: rgb(150, 50, 155);
}
.dsd{
  background: rgb(150, 100, 150);
}
.dwa{
  background: rgb(170, 175, 255);
}
.dwb{
  background: rgb(90, 120, 220);
}
.dwc{
  background: rgb(75, 80, 180);
}
.dwd{
  background: rgb(50, 0, 135);
}
.dfa{
  background: rgb(0, 255, 255);
}
.dfb{
  background: rgb(55, 200, 255);
}
.dfc{
  background: rgb(0, 125, 125);
}
.dfd{
  background: rgb(0, 70, 95);
}
.et{
  background: rgb(178, 178, 178);
}
.ef{
  background: rgb(102, 102, 102);
}
.pink-orange {
  background-color: #830a48;
}
.comod {
  background: #f94144;
}
.shift {
  background-color: #f9844a;
}
.montaingreen-p {
  background-color: #43aa8b;
}
.mango-p {
  background-color: #f9c74f;
}
.blush-p {
  background-color: #6930c3;
}
.musgo-p {
  background-color: #208b3a;
}
.green1-p {
  background: #90a955;
}
.green2-p {
  background: #4f762d;
}
.green3-p {
  background: #31572c;
}
.vazio-p {
  background-color: #eddcd2;
}
.bluewater-p {
  background-color: #00b4d8;
}
.ice-p {
  background-color: #fff1e6;
}
.forest-p {
  background-color: #007f5f;
}
.agriculture-p {
  background-color: #80b918;
}
.grass-p {
  background-color: #d4d700;
}
.scrub-p {
  background-color: #054a29;
}
.svegetation-p {
  background-color: #ecba82;
}
.wetland-p {
  background-color: #1f6996;
}
.settlement-p {
  background-color: #f0746e;
}
.mining-p {
  background-color: #eb7f86;
}
.logging-p {
  background-color: #3a7c89;
}
.noexpansion-p {
  background-color: #a059a0;
}
.potential-p {
  background-color: #ce78b3;
}
.responsible-p {
  background-color: #72aaa1;
}
.land-p {
  background-color: #96d2a4;
}
.deforested-p {
  background-color: #70284a;
}
.operational-p {
  background-color: #f2a65a;
}
.under-p {
  background-color: #e86c5f;
}
.planned-p {
  background-color: #bed24b;
}
.inventoried-p {
  background-color: #3abb9b;
}
.suspended-p {
  background-color: #dd2c2f;
}
.unknown-p {
  background-color: #822faf;
}

/* ======= Sub-menu container Timeline Features  =======*/
.menu-timeslider {
  margin-top: 30px;
}
.menu-timeslider h6 {
  font-size: 0.8rem;
  font-weight: 400;
}
.range-player {
  display: flex;
}

/* =======      Search input in Discovery, Distribution and Vector   =========*/
.search_sub{
  width:250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.search-discovery,
.search-distribution{
  width: 90%;
  margin: 8px 0;
  border: solid 1px transparent;
  background-origin: border-box;
  background-clip: border-box, content-box;
  box-shadow: 2px 200px 1px #fff inset;
  background-image: linear-gradient(90deg, hsla(194, 77%, 38%, 1) 0%, hsla(212, 100%, 14%, 1) 100%);
  padding: 5px;
  height: 25px;
  border-radius: 20px;
  outline: none;
  font-family: 'Montserrat', serif;
  color:var(--dark-text);
}
.search-discovery:focus,
.search-distribution:focus{
  color: var(--blue);
}
.search-btn {
  width: 23px;
  height: 23px;
  border: solid 1px var(--blue);
  background: var(--blue);
  text-align: center;
  color: #fff;
  border-radius:  50%;
  cursor: pointer;
  font-size: 15px;
  position: absolute;
  right: 10px;
}
.search-btn:hover,
.search-btn:active{
  border: solid 1px var(--orange);
  background: #e27902;
}
.listing{
  display: block;
  width:85%;
  margin: auto;
  height: 90px;
  border: solid 1px transparent;
  background-origin: border-box;
  background-clip: border-box, content-box;
  box-shadow: 2px 200px 1px #fff inset;
  background-image: linear-gradient(90deg, hsla(194, 77%, 38%, 1) 0%, hsla(212, 100%, 14%, 1) 100%);
  border-radius: 5px;
}
/* ======================         Selector box in Vectors          ===========*/
.box {
  width:250px;
  position: relative;
  display: flex;
  flex-direction: column;
 align-items: center;
  margin: 5px;
}
.box p {
  text-align: left;
  position: relative;
  font-family: "montserrat", serif;
  font-size: 0.8rem;
  bottom: 5px;
  left: 5px;
  color: #999;
}
.box select {
  width: 90%;
  height: 25px;
  border-radius: 20px;
  color: #999;
  padding: 4px;
  font-size: 0.8rem;
  font-family: "montserrat", serif;
  font-weight: normal;
  border: solid 1px transparent;
  background-origin: border-box;
  background-clip: border-box, content-box;
  box-shadow: 2px 200px 1px #fff inset;
  background-image: linear-gradient(90deg, hsla(194, 77%, 38%, 1) 0%, hsla(212, 100%, 14%, 1) 100%);
  position: relative;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  outline: none;
}

/* ================&&&&&&&   BUTTONS Described Here &&&&&&&&========*/
/* ====== Button Switch Button ========== */
.switch {
  /*  button size */
  position: relative;
  width: 35px;
  height: 15px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  /*  button slider */
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.togglebtn input:checked + .slider {
  /*  button color */
  background-color: var(--orange);
}

.togglebtn input:focus + .slider {
  /*  button color */
  box-shadow: 0 0 1px var(--orange);
}

.togglebtn input:checked + .slider:before {
  /*  button translade size */
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.slider.round {
  /*  button format*/
  border-radius: 34px;
}

.slider.round:before {
  /*  button slider format*/
  border-radius: 50%;
}
/* ===== Time Selector Radio ======*/
/*Koppen geiger selector*/
#time-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  background: hsla(0, 0%, 86%, 0.3);
  padding: 10px;
}
form {
  width: 90%;
  max-width: 500px;

}
form #form-title {
  font-weight: 400;
  text-align: center;
  color:var(--dark-text);
}
form #time-amount-slider {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  position: relative;
  width: 100%;
  height: 50px;
  user-select: none;
}
form #time-amount-slider::before {
  content: " ";
  position: absolute;
  height: 1px;
  width: 100%;
  width: calc(100% * (1 / 2));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(180, 180, 180);
}
form #time-amount-slider input, form #time-amount-slider label {
  box-sizing: border-box;
  flex: 1;
  user-select: none;
  cursor: pointer;
}
form #time-amount-slider label {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 100%;
  user-select: none;
}
form #time-amount-slider label::before { /*time Label*/
  content: attr(data-time-amount);
  color:var(--dark-text);
  position: absolute;
  left: 50%;
  padding-top: 10px;
  transform: translate(-50%, 35px);
  font-size: 0.6rem;
  letter-spacing: 0.7px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0.85;
  transition: all 0.15s ease-in-out;
}
form #time-amount-slider label::after { /*time circles*/
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  border: 1px solid rgb(180, 180, 180);
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
form #time-amount-slider label:hover::after { /* Hover*/
  transform: translate(-50%, -50%) scale(1.3);
}
form #time-amount-slider input {
  display: none;
}
form #time-amount-slider input:checked + label::before {
  font-weight: 500;
  opacity: 1;
}
form #time-amount-slider input:checked + label::after { /* circle change checked*/
  border-width: 3px;
  transform: translate(-50%, -50%) scale(0.75);
  border-color: var(--orange);
}
form #time-amount-slider input:checked ~ #time-amount-pos {
  opacity: 1;
}
form #time-amount-slider input:checked:nth-child(1) ~ #time-amount-pos {
  left: 10%;
}
form #time-amount-slider input:checked:nth-child(3) ~ #time-amount-pos {
  left: 30%;
}
form:valid #time-amount-slider input + label::before {
  transform: translate(-50%, 35px) scale(0.9);
  transition: all 0.15s linear;
}
form:valid #time-amount-slider input:checked + label::before {
  transform: translate(-50%, 35px) scale(1.1);
  transition: all 0.15s linear;
}

/*   Years  Deforestation */
#year-time-wrapper{
  width: 100%;
  height: 90px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: hsla(0, 0%, 86%, 0.3);
}
form #time-year-slider {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  position: relative;
  width: 100%;
  height: 50px;
  user-select: none;
}
form #time-year-slider::before {
  content: " ";
  position: absolute;
  height: 1px;
  width: 100%;
  width: calc(100% * (1 / 2));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(180, 180, 180);
}
form #time-year-slider input, form #time-year-slider label {
  box-sizing: border-box;
  flex: 1;
  user-select: none;
  cursor: pointer;
}
form #time-year-slider label {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 100%;
  user-select: none;
}
form #time-year-slider label::before { /*time Label*/
  content: attr(data-time-amount);
  color:var(--dark-text);
  position: absolute;
  left: 50%;
  padding-top: 10px;
  transform: translate(-50%, 35px);
  font-size: 0.7rem;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0.85;
  transition: all 0.15s ease-in-out;
}
form #time-year-slider label::after { /*time circles*/
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  border: 1px solid rgb(180, 180, 180);
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
form #time-year-slider label:hover::after { /* Hover*/
  transform: translate(-50%, -50%) scale(1.3);
}
form #time-year-slider input {
  display: none;
}
form #time-year-slider input:checked + label::before {
  font-weight: 500;
  opacity: 1;
}
form #time-year-slider input:checked + label::after { /* circle change checked*/
  border-width: 3px;
  transform: translate(-50%, -50%) scale(0.75);
  border-color: var(--orange);
}
form #time-year-slider input:checked ~ #time-year-pos {
  opacity: 1;
}
form #time-year-slider input:checked:nth-child(1) ~ #time-year-pos {
  left: 10%;
}
form #time-year-slider input:checked:nth-child(3) ~ #time-year-pos {
  left: 30%;
}
form:valid #time-year-slider input + label::before {
  transform: translate(-50%, 35px) scale(0.9);
  transition: all 0.15s linear;
}
form:valid #time-year-slider input:checked + label::before {
  transform: translate(-50%, 35px) scale(1.1);
  transition: all 0.15s linear;
}
/* year-pop density*/
#pop-time-wrapper{
  width: 100%;
  height: 90px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  background: hsla(0, 0%, 86%, 0.3);
}
form #populational-time-slider {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  position: relative;
  width: 100%;
  height: 50px;
  user-select: none;
}
form #populational-time-slider::before {
  content: " ";
  position: absolute;
  height: 1px;
  width: 100%;
  width: calc(100% * (1 / 2));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(180, 180, 180);
}
form #populational-time-slider input, form #populational-time-slider label {
  box-sizing: border-box;
  flex: 1;
  user-select: none;
  cursor: pointer;
}
form #populational-time-slider label {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 100%;
  user-select: none;
}
form #populational-time-slider label::before { /*time Label*/
  content: attr(data-time-amount);
  color:var(--dark-text);
  position: absolute;
  left: 50%;
  padding-top: 10px;
  transform: translate(-50%, 35px);
  font-size: 0.7rem;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0.85;
  transition: all 0.15s ease-in-out;
}
form #populational-time-slider label::after { /*time circles*/
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  border: 1px solid rgb(180, 180, 180);
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
form #populational-time-slider label:hover::after { /* Hover*/
  transform: translate(-50%, -50%) scale(1.3);
}
form #populational-time-slider input {
  display: none;
}
form #populational-time-slider input:checked + label::before {
  font-weight: 500;
  opacity: 1;
}
form #populational-time-slider input:checked + label::after { /* circle change checked*/
  border-width: 3px;
  transform: translate(-50%, -50%) scale(0.75);
  border-color: var(--orange);
}
form #tpopulational-time-slider input:checked ~ #time-year-pos {
  opacity: 1;
}
form #populational-time-slider input:checked:nth-child(1) ~ #time-year-pos {
  left: 10%;
}
form #populational-time-slider input:checked:nth-child(3) ~ #time-year-pos {
  left: 30%;
}
form:valid #populational-time-slider input + label::before {
  transform: translate(-50%, 35px) scale(0.9);
  transition: all 0.15s linear;
}
form:valid #populational-time-slider input:checked + label::before {
  transform: translate(-50%, 35px) scale(1.1);
  transition: all 0.15s linear;
}
/* year-human-mobility*/
#mobility-time-wrapper{
  width: 100%;
  height: 90px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  background: hsla(0, 0%, 86%, 0.3);
}
#passenger-title{
  font-family: 'Montserrat', serif;
  font-weight: 400;
  text-align: center;
  color:var(--dark-text);
}
.year_value{
  position: relative;
  text-align: center;
  font-size: 0.7rem;
  margin-top: 20px;
  width: 90%;
  height: 50px;
  line-height: 1.5em;
  font-family: 'Montserrat', serif;
  color: var(--dark-text);
}
.year_value::before{
  content: 'Year: ';
  margin-right: 5px;
  font-family: 'Montserrat', serif;
  color: var(--dark-text);
}
#mobility-time-wrapper input{
  margin-top: 20px;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: rgb(180, 180, 180);
  border-radius: 5px;
  width: 90%;
  height: 1px;
  outline: 0;
}
#mobility-time-wrapper input::-webkit-slider-thumb{
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 50%;
  width:15px;
  height: 15px;
  cursor: pointer;
  transition: .3s ease-in-out;
}
#mobility-time-wrapper input::-webkit-slider-thumb:hover{
  transform: scale(1.5);
}
#mobility-time-wrapper input::-webkit-slider-thumb:active{
  transform: scale(1.1);
  border:1px solid var(--orange);
}
#mob-wrapper{
  width: 100%;
  height: 90px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  background: hsla(0, 0%, 86%, 0.3);
}
form #mob-year-select {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  position: relative;
  width: 100%;
  height: 50px;
  user-select: none;
}
form #mob-year-select::before {
  content: " ";
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(180, 180, 180);
}
form #mob-year-select input, form #mob-year-select label {
  box-sizing: border-box;
  flex: 1;
  user-select: none;
  cursor: pointer;
}
form #mob-year-select label {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 100%;
  user-select: none;
}
form #mob-year-select label::before { /*time Label*/
  content: attr(data-time-amount);
  color:var(--dark-text);
  position: absolute;
  left: 50%;
  padding-top: 10px;
  transform: translate(-50%, 35px);
  font-size: 0.6rem;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0.85;
  transition: all 0.15s ease-in-out;
}
form #mob-year-select label::after { /*time circles*/
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 1px solid rgb(180, 180, 180);
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
form #mob-year-select label:hover::after { /* Hover*/
  transform: translate(-50%, -50%) scale(1.3);
}
form #mob-year-select input {
  display: none;
}
form #mob-year-select input:checked + label::before {
  font-weight: 500;
  opacity: 1;
}
form #mob-year-select input:checked + label::after { /* circle change checked*/
  border-width: 3px;
  transform: translate(-50%, -50%) scale(0.75);
  border-color: var(--orange);
}
form #mob-year-select input:checked ~ #time-year-pos {
  opacity: 1;
}
form #mob-year-select input:checked:nth-child(1) ~ #time-year-pos {
  left: 10%;
}
form #mob-year-select input:checked:nth-child(3) ~ #time-year-pos {
  left: 30%;
}
form:valid #mob-year-select input + label::before {
  transform: translate(-50%, 35px) scale(0.9);
  transition: all 0.15s linear;
}
form:valid #mob-year-select input:checked + label::before {
  transform: translate(-50%, 35px) scale(1.1);
  transition: all 0.15s linear;
}
/*=====================  Map features ============================*/

/*=====================  Map features ============================*/
.map-area{
  height: 100%;
  padding: 20px 0;
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.map-area h2{
  font-family: 'montserrat', serif;
  color: var(--blue);
  margin-bottom: 20px;
}
#map{
    width: 98%;
    position: relative;
    left: 0;
    height: 90vh;
    grid-area: 1 / 1 / 3 / 5;
    z-index: 0;
}
/*SOCIAL MEDIA*/
#socialmedia {
  background-color: hsla(0, 0%, 35%, 0.7);
  padding: 50px 0;
}
.mediacontent {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}
.media {
  width: 15%;
  display: block;
  padding-top: 60px;
  text-align: center;
}
.media h4 {
  font-family: "Montserrat", serif, arial;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  border-bottom: solid 1px hsla(0, 0%, 100%, 0.7);
  padding-bottom: 10px;
  width: 80%;
  margin: 0 auto;
}
.share-icons {
  margin-top: 10px;
}
.share-icons a{
  color:white;
  text-decoration: none;
  margin: 0 10px;
}
.share-icons i{
  margin-right: 5px;
}
/*SOCIAL MEDIA TABLET SIZE*/
@media screen and (max-width: 900px) {
  .media {
    width: 20%;
  }
  .media h4 {
    font-size: 0.9rem;
  }
}
/*SOCIAL MEDIA MOBILE SIZE*/
@media screen and (max-width: 450px) {
  #socialmedia {
    padding: 30px 0;
  }
  .media {
    width: 40%;
    padding-top: 20px;
  }
  .media h4 {
    font-size: 0.8rem;
  }
}
/*LANDSCAPE SOCIAL MEDIA*/

@media screen and (min-width: 650px) and (max-width: 750px) and (orientation: landscape) {
  .media {
    width: 50%;
    padding-top: 20px;
  }
}
/*footer*/
footer {
  background-color: hsla(0, 0%, 35%, 0.7);
  font-family: 'Roboto', sans-serif, arial;
  color: white;
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 0.8rem;
  padding: 5px 30px;
}
