.bannermenu{
  background-image: url("../images/banners/contact-banner-arboverse-min.png");
}
/*----IPAD Size portrait Banner--*/
@media screen and (min-width: 600px) and (max-width: 940px) and (orientation: portrait) {
  .bannermenu{
      background-image: url("../images/banners/contact-banner-mobile-min.png");
      height: 85vh;
  }
}
@media screen and (max-width:600px) and (orientation: portrait){
  .bannermenu{
      background-image:url("../images/banners/contact-banner-mobile-min.png");
      height: 70vh;
  }
}

.contactus_section{
  width: 80%;
  height: auto;
  margin: 5vh auto; 
}
.contactus_section h2{
  color: #3345A6;
}
.contactus_section p{
  margin-top: 5vh;
  text-align: justify;
  color: var(--text);
  font-size: 1.4rem;
  line-height: 1.5;
}

.help_arbv{
  margin: 10vh 0;
  width: 100%;
}
.help_wrapper{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  margin: 30px 0;
  position: relative;
}
.help_img{
  width: 20%;
  z-index: 1;
  position: absolute;
  left:0;
}
.help_img img{
  width: 100%;
}
.help_info{
  background-color: var(--lightGrey);
  width: 75%;
  height: auto;
  padding: 30px;
  border-radius: 15px;
  z-index: 0;
  text-align: center;
}
.help_info p{
  color: var(--text);
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
  margin: 10px 0 0 15%;
}
.help_info a{
  text-decoration: none;
  color: var(--lightBlue);
}
.help_info a:hover{
  text-decoration: none;
  color: var(--orange);
  font-weight: 400;
}
@media screen and (max-width: 1000px) {
  .help_wrapper{
    flex-direction: column;
  }
  .help_img{
    top:0%;
    left: 0%;
  }
}
/* how to cite mobile -*/
@media screen and (min-width: 300px)  and (max-width: 550px){
  .help_wrapper{
    flex-direction: column;
  }
  .help_img{
    top:0%;
    left: 0%;
  }
  .help_info p{
    font-size: 0.9rem;
    line-height: 1.5;
  }
  .help_info a{
    font-size: 1rem;
  }
}
