body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: hsl(0, 0%, 98%);
  margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/*NAVIGATOR*/

/*Banner*/
.bannermenu {
  background-image: linear-gradient(
      to right bottom,
      hsla(212, 100%, 14%, 0.4),
      transparent
    ),
    url("../images/Index/banner1.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
}
.bannermenu h1 {
  font-family: "Monteserrat", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 4px;
  text-align: center;
  padding-top: 35vh;
  color: white;
}
.bannermenu h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
}
/* NAV BAR*/
nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    180deg,
    hsla(209, 100%, 13%, 0.8),
    hsla(209, 100%, 13%, 0.6),
    hsla(209, 100%, 13%, 0.4),
    transparent
  );
  height: 11vh;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}
.hl {
  width: 90%;
  margin: 0 auto;
  border-bottom: solid 1px hsl(0, 0%, 100%, 1);
  position: relative;
  top: 11vh;
}
nav img {
  width: 10%;
  height: 10%;
  margin-right: 10px;
}
/*LOGO*/
.logo {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 1.3rem;
  padding-left: 5%;
}
.logo span {
  color: #ff8700;
}
/*NAV LINKS*/
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-links li {
  list-style: none;
  font-weight: bold;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  transition: 0.2s ease-in;
}
.nav-links a:hover {
  color: #002147;
  background-color: hsla(0, 0%, 100%, 0.4);
}
.nav-links a:active {
  background-color: hsla(0, 0%, 100%, 0.9);
}

/*Burger Menu*/
.burger {
  display: none;
}
.burger div {
  cursor: pointer;
  width: 30px;
  height: 5px;
  background-color: white;
  margin: 3px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1050px) {
  .nav-links {
    width: 60%;
  }
}

/* NAVIGATOR TABLET SIZE*/

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 45vh;
    top: 12vh;
    background: linear-gradient(
      to bottom,
      hsla(212, 69%, 28%, 0.7),
      hsla(212, 69%, 28%, 0.4)
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    margin-right: 30px;
  }
  .nav-active {
    transform: translateX(0%);
  }
}

/*LINK FADE*/

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* NAVIGATOR MOBILE SIZE*/
@media screen and (max-width: 450px) {
  nav {
    height: 8vh;
  }
  .logo {
    font-size: 1rem;
    padding-left: 15px;
  }
  nav img {
    width: 11%;
    height: 11%;
  }
  .burger {
    margin-right: 20px;
  }
  .burger div {
    width: 25px;
    height: 3px;
    margin-right: 15px;
  }
  .nav-links {
    top: 9vh;
    height: 39vh;
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 4px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -4px);
  }
}
/*NAVIGATOR FOR LANDSCAPE*/

@media screen and (min-width: 650px) and (max-width: 750px) and (orientation: landscape) {
  nav {
    height: 15vh;
  }
  nav img {
    width: 7%;
    height: 7%;
  }
  .hl {
    padding-bottom: 10px;
  }
  .burger div {
    width: 25px;
    height: 3px;
    margin-right: 15px;
  }
  .nav-links {
    top: 15vh;
    height: 80vh;
  }
  .logo {
    font-size: 1rem;
    padding-left: 15px;
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 4px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -4px);
  }
}

/* BANNER TABLET SIZE*/
@media screen and (max-width: 900px) {
  .bannermenu {
    height: 25rem;
    background-position: bottom;
  }
  .hl {
    top: 12vh;
  }
  .bannermenu h1 {
    font-size: 2.7rem;
    padding-top: 27vh;
    letter-spacing: 1px;
  }
  .bannermenu h3 {
    font-size: 1.2rem;
  }
}

/*BANNER MOBILE SIZE*/
@media screen and (max-width: 450px) {
  .bannermenu {
    height: 20rem;
    background-position: bottom;
  }
  .bannermenu h1 {
    padding-top: 20vh;
    font-size: 1.8rem;
  }
  .bannermenu h3 {
    font-size: 0.9rem;
  }
  .hl {
    top: 8vh;
  }
}
/* General content*/
.general-content{
  margin: 20vh 0;
}
.general-content p {
  width: 85%;
  padding-top: 25px;
  font-family: "Montserrat", serif;
  margin: 0 auto;
  color: #666569;
  line-height: 2;
  font-size: 1.2rem;
  word-spacing: 2px;
  text-align: justify;
}
/*main content*/
#main-content {
  padding: 90px 24px;
  display: flex;
  align-items: center;
}
#main-content img {
  width: 20%;
}
.content {
  width: 70%;
  padding: 30px;
}
.general-content h2,
.content h2 {
  font-family: "oswald", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 1px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  color: #002147;
  padding-bottom: 15px;
}
.content p {
  padding-top: 25px;
  font-family: "Montserrat", Serif;
  width: 90%;
  margin: 0 auto;
  color: #666569;
  line-height: 2;
  font-size: 1.1rem;
  word-spacing: 2px;
  text-align: justify;
}
.content a{
  color: #666569;
}

/*MAIN TABLET SIZE*/
@media screen and (max-width: 900px) {
  #main-content {
    padding: 30px 20px;
  }
  .content h2 {
    font-size: 1.2rem;
  }
  .content p {
    padding-top: 15px;
    line-height: 1.5;
    font-size: 1rem;
  }
}

/* MAIN MOBILE SIZE*/
@media screen and (max-width: 450px) {
  #main-content {
    flex-direction: column-reverse;
    padding: 30px 10px;
  }
  #main-content img {
    width: 50%;
    height: 50%;
  }
  .content {
    width: 100%;
  }
  .content h2 {
    font-size: 1rem;
  }
  .content p {
    padding-top: 15px;
    font-size: 0.9rem;
    word-spacing: 0;
  }
}

/*EXPLAIN SECTION*/
section {
  margin-top: 30px;
  background-color: hsla(0, 0%, 77%, 0.2);
  text-align: center;
  color: rgb(110, 108, 108);
  padding: 30px;
  height: auto;
}
.title-how {
  display: flex;
  justify-content: center;
}
.hl2 {
  width: 30%;
  border-bottom: solid 1px rgba(110, 108, 108, 0.5);
  position: relative;
  margin-bottom: 1%;
}
.title-how h2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 1px;
  width: 30%;
}
.purpose {
  padding: 10px 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.purpose-unit {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: rgb(143, 140, 140);
  line-height: 2;
}
.purpose-unit img {
  height: 90px;
  margin: 0 auto;
  padding: 20px;
}
.purpose-unit h4 {
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  font-size: 1.5rem;
  color: #002147;
}
.orange{
  color: #ff8700;
}
.purpose-unit h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

/*TABLET  EXPLAIN SECTION*/
@media screen and (max-width: 900px) {
  .title-how h2 {
    width: 60%;
    font-weight: 400;
  }
  .hl2 {
    margin-bottom: 1.5%;
  }
  .purpose {
    padding: 10px 5px;
  }
  .purpose-unit {
    align-items: flex-start;
    align-items: initial;
  }
  .purpose-unit img {
    margin-top: 0;
    width: 50px;
  }
  .purpose-unit h4 {
    margin-top: 8px;
    font-size: 1rem;
  }
  .purpose-unit h5 {
    font-size: 0.8rem;
  }
}
/* MOBILE SIZE Explain Section*/
@media screen and (max-width: 450px) {
  .title-how h2 {
    width: 70%;
    font-size: 1rem;
    font-weight: 400;
  }
  .hl2 {
    margin-bottom: 3%;
  }
  .purpose {
    padding: 10px 3px;
  }
  .purpose-unit {
    justify-content: flex-start;
  }
  .purpose-unit img {
    margin-top: 0;
    width: 40px;
  }
  .purpose-unit h4 {
    margin-top: 8px;
    font-size: 0.8rem;
  }
  .purpose-unit h5 {
    display: none;
  }
}
@media screen and (min-width: 650px) and (max-width: 750px) and (orientation: landscape) {
  .title-how h2 {
    width: 70%;
    font-size: 1.3rem;
    font-weight: 400;
  }
}
.video {
  text-align: center;
  color: rgb(143, 140, 140);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.video h2 {
  font-family: "oswald", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 1px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  color: #002147;
  margin-bottom: 40px;
}
.video video {
  width: 60%;
  margin: 0 auto;
}
/*TABLET SIZE - ASIDE AND VIDEO*/
@media screen and (max-width: 900px) {
  aside {
    margin: 40px 0;
  }
  aside p {
    width: 85%;
  }
  .video h2 {
    font-size: 1.3rem;
  }
  .video video {
    width: 90%;
  }
}
/*MOBILE SIZE - ASIDE AND VIDEO*/
@media screen and (max-width: 450px) {
  aside p {
    font-size: 0.8rem;
    line-height: 1.5;
    word-spacing: 1px;
    width: 85%;
  }
  .video h2 {
    font-size: 1rem;
  }
  .video video {
    width: 100%;
  }
}
/*FUNDING*/
#fundation {
  margin-top: 15vh;
  padding: 30px 24px;
  background-color: hsla(0, 0%, 77%, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainfunding {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif, arial;
  font-size: 1.4rem;
  text-align: center;
  color: rgb(110, 108, 108);
}
.mainfunding h2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  width: 35%;
}
.hl4 {
  width: 30%;
  border-bottom: solid 1px rgba(110, 108, 108, 0.5);
  position: relative;
  margin-bottom: 1%;
}
.funders {
  padding-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.funders img {
  width: 150px;
  padding: 0 20px;
}
/*FUNDING TABLET SIZE*/
@media screen and (max-width: 900px) {
  #fundation {
    padding-top: 15px;
  }
  .mainfunding h2 {
    font-size: 1.2rem;
  }
  .funders img {
    width: 100px;
  }
}
/*FUNDING MOBILE SIZE*/
@media screen and (max-width: 450px) {
  .mainfunding h2 {
    width: 90%;
    font-size: 0.9rem;
  }
  .funders img {
    width: 100px;
  }
  .hl4 {
    margin-bottom: 2%;
  }
}
/*SOCIAL MEDIA*/
#socialmedia {
  background-color: hsla(0, 0%, 35%, 0.7);
  padding: 50px 0;
}
.mediacontent {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}
.media {
  width: 15%;
  display: block;
  padding-top: 60px;
  text-align: center;
}
.media h4 {
  font-family: "Montserrat", serif, arial;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  border-bottom: solid 1px hsla(0, 0%, 100%, 0.7);
  padding-bottom: 10px;
  width: 80%;
  margin: 0 auto;
}
.share-icons i {
  padding: 10px;
}
/*SOCIAL MEDIA TABLET SIZE*/
@media screen and (max-width: 900px) {
  .media {
    width: 20%;
  }
  .media h4 {
    font-size: 0.9rem;
  }
}
/*SOCIAL MEDIA MOBILE SIZE*/
@media screen and (max-width: 450px) {
  #socialmedia {
    padding: 30px 0;
  }
  .media {
    width: 40%;
    padding-top: 20px;
  }
  .media h4 {
    font-size: 0.8rem;
  }
}
/*LANDSCAPE SOCIAL MEDIA*/

@media screen and (min-width: 650px) and (max-width: 750px) and (orientation: landscape) {
  .media {
    width: 50%;
    padding-top: 20px;
  }
}
/*FOOTER*/
footer {
  background-color: hsla(0, 0%, 35%, 0.7);
  font-family: 'Roboto', sans-serif, arial;
  color: white;
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 0.8rem;
  padding: 5px 30px;
}
/*SOCIAL MEDIA MOBILE SIZE*/

@media screen and (max-width: 450px) {
  footer {
    font-size: 0.6rem;
    flex-direction: column;
    text-align: center;
  }
}
