body{
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: hsl(0, 0%, 98%);
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
html{
  position: fixed;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
:root{
  --lightBlue: #445ef2;
  --darkBlue:#3345A6;
  --orange: #F5861F;
  --text: #4B4B4B;
  --darkGrey: #E5E5E5;
  --lightGrey: #ededed;
  --blueTransparen: hsla(231, 87%, 61%, 0.15);
  --orangeTransparent: hsla(29, 91%, 54%, 0.7);
}
/*----Typography----*/
h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 3rem;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--darkBlue); 
}
h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}
h5{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
h6{
  font-family: 'Monteserrat', sans-serif;
  font-size: 1rem;
  font-weight: 200;
}
p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
a{
  font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 font-size: 1.2rem;
}
.blue{
  color:var(--lightBlue);
  font-weight: 500;
}
.orange{
  color: var(--orange);
  font-weight: 500;
}
.white{
  color:white;
  font-weight: 500;
}
/*---font size ipad landscape*/
@media screen and (min-width:940px) and (max-width: 1200px) and (orientation: landscape) {
  h1{
      font-size: 2rem;
  }
  h2{
      font-size: 1.1rem;
  }
}
/*---font size ipad portrait*/
@media screen and (min-width: 600px) and (max-width: 940px) and (orientation: portrait) {
  h1{
      font-size: 2.5rem;
  }
  h2{
      font-size: 1.2rem;
  }
  h3{
      font-size: 1.4rem;
  }
  h4{
      font-size: 1.1rem;
  }
  h5{
      font-size: 1rem;
  }
  h6{
      font-size: 0.9rem;
  }
}
/*---font size mobile landscape*/
@media screen and (min-width: 550px) and (max-width: 850px) and (orientation: landscape){
  h1{
      font-size: 1.3rem;
  }
  h2{
      font-size: 0.9rem;
  }
  h3{
      font-size: 1.2rem;
  }
  h4{
      font-size: 1rem;
  }
  h5{
      font-size: 1rem;
  }
  h6{
      font-size: 0.9rem;
  }
  p{
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
  }
  a{
      font-family: 'Montserrat', sans-serif;
     font-weight: 300;
     font-size: 1rem;
  }
}
/*---font size mobile portrait*/
@media screen and (min-width: 300px) and (max-width:450px) and (orientation: portrait){
  h1{
      font-size: 1.3rem;
  }
  h2{
      font-size: 1rem;
  }
  h3{
      font-size: 1.1rem;
  }
  h4{
      font-size: 1rem;
  }
  h5{
      font-size: 0.9rem;
  }
  h6{
      font-size: 0.9rem;
  }
  p{
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
  }
  a{
      font-family: 'Montserrat', sans-serif;
     font-weight: 300;
     font-size: 1.2rem;
  }
}
/*NAVIGATOR*/
.bannermenu{
  background-image:url("../images/banners/banner_index.png");
  background-position:  center bottom;
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 92vh;
}
.bannermenu h1{
  width: 50%;
  margin: 0 5%;
  letter-spacing: 3px;
  text-align: left;
  padding-top: 8vh;
  color: white;
}
.bannermenu h2{
  width: 35%;
  text-align:left;
  margin: 4vh 5vw;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}
/* NAV BAR*/
nav{
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
height: 15vh;
padding-top: 8px;
}
.logo{
display: flex;
width: 20%;
align-items: center;
padding-left: 5%;
}
.logo h4{
color:rgb(255, 255, 255);
text-transform: uppercase;
}
.logo img{
width: 80px;
height: 80px;
margin-right: 10px;
}
.logo span{
color:var(--orange);
}
.nav-links{
display: flex;
justify-content: space-around;
width: auto;
padding-right: 5%;
}
.nav-links li{
list-style: none ;
font-weight: bold;
}
.nav-links a{
color: white;
text-decoration: none;
padding: 5px;
margin: 5px;
}
.nav-links a:hover{
  color:var(--orange);
}
.nav-links .current{
  color: var(--orange);
}

/*Burger features*/
.burger{
display: none;
}
.burger div{
cursor: pointer;
width: 30px;
height: 5px;
background-color: white;
margin: 3px;
border-radius: 5px;
transition: all 0.3s ease;
}
@media screen and (max-width: 1050px){
.nav-links{
  width: 60%
}
}
/*----IPAD Size portrait Banner--*/
@media screen and (min-width: 600px) and (max-width: 940px) and (orientation: portrait) {
  .bannermenu{
      background-image: url("../images/banners/banner-index-mobile.png");
      height: 85vh;
  }
  .bannermenu h1{
      width: 80%;
      margin: 0 auto;
      padding-top: 2vh;
      text-align: center;
      letter-spacing: 2px;
  }
  .bannermenu h2{
      display:  none;
  }
}
/*banner Landscape*/
@media screen and (min-width: 550px) and (max-width: 940px) and (orientation: landscape){
  .bannermenu h1{
      letter-spacing: 1px;
      padding-top: 6vh;
  }
  .bannermenu h2{
      width: 50%;
      line-height: 1;
  }
  .logo img{
      width: 40px;
      height: 40px;
  }
  }
/* NAVIGATOR TABLET SIZE*/

@media screen and (max-width: 1010px){
  body{
    overflow-x:hidden ;
  }
  .logo{
    width: 50%;
  }
  .nav-links{
    position: absolute;
    right:0;
    height:45vh;
    top: 12vh;
    background: linear-gradient(-45deg, rgba(68, 94, 242,0.8), rgba(51, 69, 166,0.9));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger {
    display: block;
    margin-right:30px;
  }
  .nav-active{
    transform: translateX(0%);
  }
}

/*LINK FADE*/

@keyframes navLinkFade{
from{
  opacity: 0;
  transform: translateX(100px);
}
to {
  opacity: 1;
  transform: translateX(0px);
}
}

.toggle .line1{
transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
opacity:0;
}
.toggle .line3{
transform: rotate(45deg) translate(-5px,-6px);
}

/* NAVIGATOR AND BANNER MOBILE SIZE*/
@media screen and (min-width: 200px) and (max-width:600px) and (orientation: portrait){
  .bannermenu{
      background-image:url("../images/banners/banner-index-mobile.png");
      height: 70vh;
  }
  .bannermenu h1{
      width:80%;
      margin: 0 auto;
      letter-spacing: 1px;
      text-align: center;
      padding-top: 8vh;
  }
  .bannermenu h2{
      display:none;
  }
  nav{
      height: 8vh;
  }
  .logo img{
      width: 50px;
      height: 50px;
  }
  .burger{
      margin-right:20px;
  }
  .burger div{
      width: 25px;
      height:3px;
      margin-right: 15px;
  }
  .nav-links{
      top:9vh;
      height:39vh
  }
  .toggle .line1{
      transform: rotate(-45deg) translate(-5px,4px);
    }
    .toggle .line2{
      opacity:0;
    }
    .toggle .line3{
      transform: rotate(45deg) translate(-5px,-4px);
    }
}
/*NAVIGATOR FOR LANDSCAPE*/

@media screen and (min-width:550px) and (max-width: 850px) and (orientation:landscape){
  nav{
      height: 15vh;
  }
  nav img{
      width:7%;
      height: 7%;
  }
  .hl{
      padding-bottom: 10px;
  }
  .burger div{
      width: 25px;
      height:3px;
      margin-right: 15px;
  }
  .nav-links{
      top:15vh;
      height:80vh;
  }
  .logo{
      font-size: 1rem;
      padding-left: 15px;
  }
  .toggle .line1{
      transform: rotate(-45deg) translate(-5px,4px);
    }
    .toggle .line2{
      opacity:0;
    }
    .toggle .line3{
      transform: rotate(45deg) translate(-5px,-4px);
    }
}


/*------main arboverse explanation---*/
.arboverse_explain{
  width:80%;
  margin: 0 auto;
  height: auto;
  background: transparent;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}
.arboverse_explain .moeda{
  width: 12%;
  position: absolute;
  bottom: -20px;
  right: 0;
}
.arboverse_explain h3{
  color:var(--darkBlue);
  text-align: left;
}
.main_arboverse{
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.main_arboverse img{
  width: 12%;
  height: 12%;
}
.main_arboverse p{
  width: 85%;
  text-align: left;
  color: var(--text);
  font-size: 1.4rem;
  line-height: 1.5;
}
.explanation_wrapper{
  width: 100%;
  height: auto;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.explanation{
  width: 30%;
  height: auto;
}
.explanation_image{
  width: 40%;
  margin: 0 auto;
}
.explanation_image img{
  width: 100%;
  height: 100%;
}
.explanation h5{
  color:var(--text);
  margin: 10px 0;
}
.examples{
  list-style: circle;
}
.examples li{
  color: var(--text);
  font-size: 1.1rem;
  margin: 5px 10px;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
}
.info_grid{
  height: 80vh;
  width: 80%;
  margin: 10vh auto;
  display: grid;
  grid-template-rows: 75% 15%;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-content: center;
}
#carousel{
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 80vh;
  margin: 5vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}
.arbovirus_numbers_wrapper{
  background-color: var(--blueTransparen);
}
.arbovrius_numbers{
  position: absolute;
  width: 23vw;
  height: 50vh;
  background: white;
  padding: 20px;
  margin: 0 20px;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: 
    translateX(calc(-400px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}
.arbovrius_numbers:nth-of-type(1) {
  --offset: 1;
  background-color: white;
}
.arbovrius_numbers:nth-of-type(2) {
  --offset: 2;
  background-color: white;
}
.arbovrius_numbers:nth-of-type(3) {
  --offset: 3;
  background-color: white;
}
.arbovrius_numbers:nth-of-type(4) {
  --offset: 4;
  background-color: white;
}
.arbovrius_numbers:nth-of-type(5) {
  --offset: 5;
  background-color: white;
}
.arbovrius_numbers:nth-of-type(6) {
  --offset: 5;
  background-color: white;
}
.arbovrius_numbers:nth-of-type(7) {
  --offset: 5;
  background-color: white;
}
input#carousel_btn{
  display: grid;
  place-content: center;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  width: 25px;
  height: 25px;
  background: var(--lightGrey);
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(10vh);
}
input#carousel_btn:hover{
  background: #c0c8f4;
}
input#carousel_btn::before{
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #c0c8f4;
}
input#carousel_btn:checked::before{
  transform: scale(1);
}
input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ #carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ #carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ #carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ #carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ #carousel {
  --position: 5;
}


.circle_orange{
  width: 40px;
  height: 40px;
  background: var(--orangeTransparent);
  position: absolute;
  top:-25px;
  left:-25px;
  border-radius: 50%;
}
.arbovrius_numbers h5{
  font-size: 1.3rem;
  margin-top: 30px;
  color:#3345A6;
  border-bottom: solid 1px #3345A6;
}
.abv_num{
  list-style: none;
  margin-top: 30px;
}
.abv_num li{
  color: var(--text);
  font-size: 1.2rem;
  margin: 15px 5px;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  text-align: justify;
}
/*---- EXPLAIN Arboverse IPAD Size landscape--*/
@media screen and (min-width:940px) and (max-width: 1200px) and (orientation: landscape) {
  
  .examples li{
      font-size: 1rem
  }
}
/*---- EXPLAIN Arboverse IPAD Size portrait --*/
@media screen and (min-width: 600px) and (max-width: 940px) and (orientation: portrait) {
  .arboverse_explain{
      margin: 5vh auto;
  }
  .main_arboverse img{
      width: 15%;
      height: 15%;
  }
  .main_arboverse p{
      font-size: 1.2rem;
      line-height: 1.5;
      text-align: justify;
      margin-left: 10px;
  }
  .explanation_image{
      width: 60%;
  }
  .examples li{
      font-size: 0.9rem
  }
  .arbovirus_numbers_wrapper{
      margin-top: 30px;
      width: 90%;
      height: auto;
      padding: 30px 20px;
  }
  .circle_orange{
      width: 30px;
      height: 30px;
      top: -15px;
      left:-15px;
  }
  .arbovrius_numbers{
      width: 28%;
      padding: 10px;
      height: auto;
  }
  .abv_num li{
      font-size: 0.8rem;
  }
}
/*EXPLAIN Arboverse Landscape*/
@media screen and (min-width: 550px) and (max-width: 850px) and (orientation: landscape){
  .arboverse_explain{
      width: 100%;
      justify-content: center;
      align-items: center;
  }
  .arboverse_explain h3{
      text-align: left;
      width:80%;
      margin: 0 auto;
  }
  .main_arboverse{
      width: 80%;
      margin: 10px auto;
      padding: 10px 0;
  }
  .main_arboverse img{
      width: 15%;
  }
  .main_arboverse p{
      width: 80%;
      font-size: 1.1rem;
      line-height: 1.2;
  }
  .explanation_wrapper{
      width: 80%;
      margin: 10px auto;
  }
  .explanation_image{
      width: 50%;
  }
  .examples li{
      font-size: 1rem;
  }
  .arbovirus_numbers_wrapper{
      width: 100%;
      height: 50vh;
      margin-top: 20px;
      justify-content: center;
  }
  .arbovrius_numbers{
      height: 45vh;
      padding: 10px;
      margin: 0 5px;
  }
  .arbovrius_numbers h5{
      margin-top: 2px;
  }
  .circle_orange{
      width: 30px;
      height: 30px;
      top: -15px;
      left:-15px;
  }
  .abv_num{
      margin-top: 5px;
  }
  .abv_num li{
      font-size: 0.9rem;
      margin: 3px 0px;
  }
}
/*---EXPLAIN MOBILE SIZE ----*/
@media screen and (min-width: 300px) and (max-width: 480px) and (orientation: portrait) {
  .arboverse_explain{
      margin-top: 5vh;
      width:100%;
  } 
  .arboverse_explain h3{
      width: 90%;
      margin: 0 auto;
  }
  .main_arboverse{
      width: 90%;
      margin: 10px auto;
      flex-direction: column;
  } 
  .main_arboverse img{
      width: 40%;
  }
  .main_arboverse p{
      width: 100%;
      margin-top: 10px;
      text-align: justify;
      font-size: 1rem;
  }
  .explanation_wrapper{
      flex-direction: column;
      justify-content: center;
  }
  .explanation{
      width: 100%;
      margin: 10px auto;
      padding: 20px 0;
  }
  .explanation h5{
      width: 70%;
      margin: 0 auto;
  }
  .explanation_image{
      margin: 10px auto;
  }
  .bc_blue{
      background: var(--blueTransparen);
  }
  .examples{
      width: 70%;
      margin: 0 auto;
  }
  .examples li{
      font-size: 0.9rem;
  }
  .info_grid,
  .arboverse_explain .moeda{
      display: none;
  }
}

/*_____ABV TOOL_____*/
.arbv_tools{
  width: 80%;
  margin: 10vh auto;
}
.arbv_tools h3{
  text-align: center;
}
input[type=radio]{
  display: none;
}
.tools{
  position: absolute;
  width: 60%;
  height: 100%;
  left:0;
  right:0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}
.slideshow_container{
  width: 100%;
  height: 80vh;
  min-height: 50vh;
  min-width: 800px;
  margin: 30px auto;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.tools-card{
  position: relative;
  width: 100%;
  height:100%;
}
.myTools{
  width: 100%;
  height: 100%;
  background: var(--lightGrey);
  position: relative;
  border: solid 1px transparent;
}
.tool_info{
  margin:40px;
  cursor:default;
}
.info_wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.numbertext{
  width: 30px;
  height: 30px;
  background: var(--orangeTransparent);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
}
.info_wrapper h5{
  width:90%;
  margin-left: 10px;
  color:var(--text);
  font-size: 1.4rem;
}
.tool_info p{
  color:var(--text);
  margin: 10px 0 0 60px;
  
}
.tool_img{
  width: 80%;
  height: auto;
  margin: 0 auto;
  background: white;
  text-align: center;
  border-radius: 20px;
  cursor: default;
}
.tool_img img{
  width: 80%;
  text-align: center;
  margin: 5px auto;
}
.tool_mobile{
  display: none;
}
.tool_name{
  position: absolute;
  right: 20px;
  bottom:20px;
  border: 1px solid #F5861F;
  padding: 10px 20px;
  background-color: white;
  border-radius: 20px;
  transition: all 0.6s ease;
}
.tool_name:hover{
  background-color: var(--darkBlue);
  border: none;
}
.tool_name h4{
  font-size: 1.8rem;
  transition:  0.6s ease;
}
.tool_name a{
  text-decoration: none;
}
.tool_name:hover h2 .blue{
  color: white;
}
#tool-1:checked ~ .tools-card #four-tool, 
#tool-2:checked ~ .tools-card #one-tool, 
#tool-3:checked ~ .tools-card #two-tool,
#tool-4:checked ~ .tools-card #three-tool {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.4;
  z-index:0;
}
#tool-1:checked ~ .tools-card #two-tool,
#tool-2:checked ~ .tools-card #three-tool,
#tool-3:checked ~ .tools-card #four-tool,
#tool-4:checked ~ .tools-card #one-tool {
  transform: translateX(40%) scale(0.8);
  opacity: 0.4;
  z-index:0;
}
#tool-1:checked ~ .tools-card #three-tool,
#tool-2:checked ~ .tools-card #four-tool,
#tool-3:checked ~ .tools-card #one-tool,
#tool-4:checked ~ .tools-card #four-tool {
  transform: translateX(0) scale(0);
  opacity: 0;
  z-index:0;
}

#tool-1:checked ~ .tools-card #one-tool,
#tool-2:checked ~ .tools-card #two-tool,
#tool-3:checked ~ .tools-card #three-tool,
#tool-4:checked ~ .tools-card #four-tool {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index:1;
  box-shadow: hsla(231, 87%, 61%, 0.3) 0px 4px 6px;
}
/*---- Tools Arboverse IPAD Size portrait --*/
@media screen and (min-width: 600px) and (max-width: 940px) and (orientation: portrait) {
  .arbv_tools{
      margin:10vh auto;
  }
  .slideshow_container{
      height:60vh;
      min-width: 50%;
      min-height: 30vh;
  }
  .info_wrapper h5{
      font-size: 1.1rem;
  }
  .tool_info p{
      font-size: 0.9rem;
      margin: 10px 0 0 40px;
  }
  .tool_img{
      border-radius: 10px;
  }
  .tool_img img{
      margin: 0 auto;
  }
  .tool_mobile{
      display: block;
  }
  .tool_desktop{
      display: none;
  }
  .tool_name h4{
      font-size: 1.2rem;
  }
}
/*Tools Arboverse Landscape*/
@media screen and (min-width:550px) and (max-width: 850px) and (orientation: landscape){
  .arbv_tools{
      width: 100%;
      margin: 10vh auto;
  }
  .slideshow_container{
      min-width: 80%;
      min-height: 70vh;
      height: 100vh;
  }
  .tool_info{
      margin: 20px;
  }
  .tool_img{
      width: 70%;
      border-radius: 5px;
  }
  .info_wrapper h5{
      font-size: 1.1rem;
  }
  .tool_name h4{
      font-size: 1.2rem;
  }
  .tool_info p{
      font-size: 0.9rem;
  }
}
/*------TOOLS MOBILE SIZE ----*/
@media screen and (min-width: 200px) and (max-width: 600px) and (orientation: portrait) {
  .arbv_tools{
      width: 100%;
      margin: 10vh auto;
  }
  .slideshow_container{
      height: 50vh;
      min-height: 30vh;
      min-width: 80vw;
  }
  .tool_info{
      margin: 20px 10px;
  }
  .info_wrapper{
      align-items: flex-start;
  }
  .numbertext{
      width: 20px;
      height: 20px;
      font-size: 1rem;
  }
  .info_wrapper h5{
      font-size: 0.8rem;
  }
  .tool_info p{
      font-size: 0.8rem;
      margin:10px auto;
      width: 90%;
      text-align: center;
  }
  .tool_img{
      width: 90%;
      border-radius: 0;
  }
  .tool_img img{
      margin: 0 auto;
      width:80%;
  }
  .tool_mobile{
      display:block;
  }
  .tool_desktop{
      display:none;
  }
  .tool_name{
      right: 5px;
      bottom: 5px;
      padding: 5px 10px;
  }
  .tool_name h4{
      font-size: 1rem;
  }
  #tool-1:checked ~ .tools-card #three-tool, 
  #tool-2:checked ~ .tools-card #one-tool, 
  #tool-3:checked ~ .tools-card #two-tool {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.6;
  z-index:0;
  }
  #tool-1:checked ~ .tools-card #two-tool,
  #tool-2:checked ~ .tools-card #three-tool,
  #tool-3:checked ~ .tools-card #one-tool {
  transform: translateX(40%) scale(0.8);
  opacity: 0.6;
  z-index:0;
  }
}
/*------ARBV APPLIED -----*/
.arbv_applied{
  width: 100%;
  height: auto;
  background: var(--blueTransparen);
  margin:20vh auto;
  border: solid 1px transparent;
}
.arbv_applied_content{
  width: 80%;
  height: 70vh;
  background: white;
  margin: 10vh auto;
  padding: 50px;
}
.arbv_applied_content h3{
  margin-left: 20px;
}
.field_application{
  display: none;
  width: 80%;
  height: auto;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s ease;
}
.quote{
  width: 60%;
}
.quote p{
  color: --text;
  font-size: 1.3rem;
  line-height: 2;
}
.image_application{
  width: 40%;
  text-align: center;
}
.image_application img{
  width: 70%;
}
.field-people-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.line{
  width:60%;
  height: 5px;
  background: var(--blueTransparen);
  position: absolute;
  top:20px;
  z-index:0;
  border-radius: 20px;
}
.dot_info{
  z-index: 1;
  text-align: center;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.dot_info h6{
  width: 100px;
  color:var(--text);
  margin-top: 10px;
}
.dot{
  width: 50px;
  height: 50px;
  background: var(--lightGrey);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
 
}
.active, .dot:hover{
  background: #c0c8f4;
}
.fa-book,
.fa-microscope,
.fa-vial,
.fa-pen-fancy{
  transform: scale(1.5);
  color:var(--lightBlue);
}
/*---- Tools Arboverse IPAD Size portrait --*/
@media screen and (min-width: 600px) and (max-width: 940px) and (orientation: portrait) {
  .arbv_applied{
      margin: 10vh auto;
  }
  .arbv_applied h3{
      text-align: center;
  }
  .arbv_applied_content{
      margin: 5vh auto;
      height: auto;
  }
  .field_application{
      flex-direction: column-reverse;
      justify-content: center;
      margin: 30px auto;
  }
  .quote{
      width: 100%;
  }
  .quote p{
      font-size: 1rem;
      line-height: 1.5;
  }
  .image_application{
      width: 60%;
  }


}
/* Arboverse applied Landscape*/
@media screen and (min-width:550px) and (max-width:850px) and (orientation: landscape){
  .arbv_applied_content{
      padding: 20px;
      height: auto;
  }
  .arbv_applied_content h3{
      margin-left: 0;
      text-align: center;
  }
  .field_application{
      width:90%;
      margin: 20px auto;
  }
  .quote p{
      font-size: 1rem;
      line-height: 1.2;
  }
  .dot_info h6{
      width: 80px;
  }
}
/*---- Arboverse Applied MOBILE---*/
@media screen and (min-width:200px) and (max-width:600px) and (orientation: portrait) {
  .arbv_applied{
      margin: 0 auto;
  }
  .arbv_applied_content{
      width: 80%;
      height: auto;
      padding:20px;
      margin: 5vh auto;
  }
  .arbv_applied_content h3{
      text-align: center;
  }
  .field_application{
      width: 90%;
      margin: 10px auto;
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: center;
  }
  .quote{
      width:100%;
  }
  .quote p{
      font-size: 0.9rem;
      text-align: justify;
  }
  .image_application{
      width: 50%;
      margin:10px auto;
  }
  .image_application img{
      width:100%;
  }
  .field-people-wrapper{
      width: 60%;
      margin: 0 auto;
  }
  .dot_info{
      margin-left: 0px;
      width: 40%;
      padding-top: 10px;
  }
  .dot_info h6{
      font-size: 0.7rem;
      font-weight: 300;
  }
  .dot{
      width: 40px;
      height: 40px;
  }
  .fa-book,
  .fa-microscope,
  .fa-vial,
  .fa-pen-fancy{
      transform: scale(1.2);
  }
  .line{
      display: none;
  }
}
/*-----TEAM BUILT ---*/
.team_section{
  width: 80%;
  height: auto;
  margin: 0 auto;
}
.team_wrapper{
  margin: 50px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.person_unit{
  width:auto ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.person_img{
  width: 70px;
  height:70px;
  border-radius:50%;
  margin-right: 10px;
}
.person_img img{
  width: 100%;
  border-radius: 50%;
}
.person_unit h6{
  color:var(--text);
}
/*---- Team IPAD Size portrait --*/
@media screen and (min-width: 600px) and (max-width: 940px) and (orientation: portrait) {
  .team_section{
      width: 100%;
  }
  .team_section h3{
      text-align: center;
  }
  .team_wrapper{
      margin: 30px 0;
  }
  .person_img{
      width: 50px;
      height: 50px;
  }
}
/* Team Landscape*/
@media screen and (min-width: 550px) and (max-width: 850px) and (orientation: landscape){
  .team_section{
      width: 100%;
  }
  .team_section h3{
      width: 80%;
      margin: 0 auto;
  }
  .team_wrapper{
      margin: 20px 0;
  }
  .person_img{
      width: 40px;
      height: 40px;
  }
  .person_unit h6{
      font-weight: 300;
  }
}
/* Team Mobile*/
@media screen and (min-width: 200px) and (max-width: 600px) and (orientation:portrait) {
  .team_section{
      width: 100%;
      margin-top: 10vh;
  }
  .team_section h3{
      width: 80%;
      margin: 0 auto;
      text-align: center;
  }
  .team_wrapper{
      margin: 10px 0;
  }
  .person_img{
      width: 30px;
      height: 30px;
      margin-right: 3px;
  }
  .person_unit h6{
      font-size: 0.9rem;
      font-weight: 300;
  }
}
/*----Funding-----*/
.funding_section{
  width: 80%;
  height: auto;
  margin: 0 auto;
}
.line-grey{
  width: 100%;
  height: 2px;
  background: var(--darkGrey);
  border-radius: 20px;
}
.fund-wrapper{
  margin: 30px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.fund-support,
.fund-endorsed{
  width: 50%;
  height: auto;
}
.fund-support h6,
.fund-endorsed h6{
  font-weight: 300;
  font-size: 1.2rem;
  color: var(--text);
}
.support{
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.support img{
  width: 20%;
}
/*---- funding IPAD Size portrait --*/
@media screen and (min-width: 600px) and (max-width: 940px) and (orientation: portrait) {
  .fund-support h6,
  .fund-endorsed h6{
      font-size: 1rem;
  }
}
/* Funding Landscape*/
@media screen and (min-width:550px) and (max-width: 850px) and (orientation: landscape){
  .fund-support h6,
  .fund-endorsed h6{
      font-size: 1rem;
  }
}
/*--Funding Mobile --*/
@media screen and (min-width: 200px) and (max-width: 600px) and (orientation: portrait) {
  .funding_section{
      margin: 5vh auto;
      width: 90%;
  }
  .fund-wrapper{
      flex-direction: column;
  }
  .fund-support,
  .fund-endorsed{
      width: 80%;
  }
  .fund-support h6,
  .fund-endorsed h6{
      font-weight: 300;
      font-size: 1rem;
      text-align: center;
  }
}
.contact{
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, #445EF2, #3345A6 );
  padding:20px 0;
  margin-top: 10vh;
}
.footer-wrapper{
  width:70%;
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-foot{
  width: 20%;
  text-align: center;
}
.logo-foot h3{
  font-size: 1.3rem;
  margin: 20px 0;
}
.logo-foot img{
  width: 40%;
}
.navigation-links{
  width: 20%;
}
.social-wrapper{
  width: 30%;
}
.navigation-links h4,
.social-wrapper h4{
  color: var(--orange);
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 15px;
}
.navigation-links .nav-foot{
  flex-direction: column;
  justify-content: center;
}
.nav-foot li{
  margin: 5px 0;
}
.media-wrapper{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.social-unit{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
}
.social-unit:hover{
  border: solid 1px #F5861F;
}
.social-unit:hover i{
  color:var(--orange);
}
.social-unit a{
  padding: 15px
}
.fa-twitter,
.fa-facebook,
.fa-envelope,
.fa-instagram{
  color: white;
  transform: scale(1.5);
}
footer{
  padding: 2px 0;
  width: 100%;
  height: auto;
  background: #3345A6 ;
}
aside{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
aside p{
  color: white;
  font-size: 0.8rem;
}
/*---- footer IPAD Size portrait --*/
@media screen and (max-width: 1010px)  {
  .footer-wrapper{
      width: 80%;
  }
  .logo-foot{
      width: 40%;
  }
  .social-wrapper{
      width: 50%;
  }
  .navigation-links{
      display: none;
  }
  .social-wrapper h4{
      font-size: 1rem;
  }
}
@media screen and (min-width: 550px) and (max-width: 850px) and (orientation: landscape){
  .footer-wrapper{
      width:80%;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
  }
  .logo-foot{
      width: 20%;
  }
  .social-wrapper{
      width:50%
  }
  .logo-foot h3{
      font-size: 1rem;
      margin: 10px 0;
  }
  .logo-foot img{
      width: 50%;
  }
  .navigation-links{
      display: none;
  }
  .social-wrapper h4{
      font-size: 1rem;
  }
  .social-unit{
      width: 40px;
      height: 40px
  }
  .fa-twitter,
  .fa-facebook,
  .fa-envelope,
  .fa-instagram{
      color: white;
      transform: scale(1.2);
  }
  aside p{
      font-size: 0.6rem;
  }
}
@media screen and (min-width: 300px) and (max-width:480px) and (orientation: portrait) {
  .footer-wrapper{
      width: 90%;
      padding: 20px 0;
      align-items: center;
  }
  .navigation-links{
      display: none;
  }
  .logo-foot{
      width: 50%;
  }
  .logo-foot img{
      width: 30%;
  }
  .logo-foot h3{
      font-size: 0.9rem;
      margin: 0;
  }
  .social-wrapper{
      width: 50%;
  }
  .social-wrapper h4{
      font-size: 1rem;
  }
  .social-unit{
      width: 30px;
      height: 30px;
  }
  .fa-twitter,
  .fa-facebook,
  .fa-envelope,
  .fa-instagram{
      transform: scale(0.9);
  }
  aside{
      flex-direction: column;
      justify-content: center;
  }
  aside p{
      font-size: 0.6rem;
      text-align: center;
  }
}