*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
/*NAVIGATOR*/
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #002147;
  min-height: 8vh;
  font-family: 'Montserrat', sans-serif;
}
nav img{
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.logo{
  display: flex;
  align-items: center;
  color:rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.logo span{
  color:#ff8700;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 50%
}
.nav-links li{
  list-style: none ;
}
.nav-links a{
  color: white;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
}
.burger{
  display: none;
}

.burger div{
  cursor: pointer;
  width: 30px;
  height: 5px;
  background-color: white;
  margin: 3px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1050px){
  .nav-links{
    width: 60%
}

@media screen and (max-width: 900px){
  body{
    overflow-x:hidden ;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height:92vh;
    top: 8.8vh;
    background-color: #16457a;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .nav-active{
    transform: translateX(0%);
  }
}
}
@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity:0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}