body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: hsl(0, 0%, 98%);
  margin: 0 auto;
  font-family: var(--font-family);
  background-color: var(--bg-body);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*NAVIGATOR*/

/*Banner*/
.bannermenu {
  background-image: linear-gradient(
      to right bottom,
      hsla(212, 100%, 14%, 0.4),
      transparent
    ),
    url("../images/News/pexels-cliford-mervil-2469122.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
}
.bannermenu h1 {
  font-family: "Monteserrat", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 4px;
  text-align: center;
  padding-top: 35vh;
  color: white;
}
.bannermenu h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
}
/* NAV BAR*/
nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    180deg,
    hsla(209, 100%, 13%, 0.8),
    hsla(209, 100%, 13%, 0.6),
    hsla(209, 100%, 13%, 0.4),
    transparent
  );
  height: 11vh;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}
.hl {
  width: 90%;
  margin: 0 auto;
  border-bottom: solid 1px hsl(0, 0%, 100%, 1);
  position: relative;
  top: 11vh;
}
nav img {
  width: 10%;
  height: 10%;
  margin-right: 10px;
}
/*LOGO*/
.logo {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 1.3rem;
  padding-left: 5%;
}
.logo span {
  color: #ff8700;
}
/*NAV LINKS*/
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-links li {
  list-style: none;
  font-weight: bold;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  transition: 0.2s ease-in;
}
.nav-links a:hover {
  color: #002147;
  background-color: hsla(0, 0%, 100%, 0.4);
}
.nav-links a:active {
  background-color: hsla(0, 0%, 100%, 0.9);
}

/*Burger Menu*/
.burger {
  display: none;
}
.burger div {
  cursor: pointer;
  width: 30px;
  height: 5px;
  background-color: white;
  margin: 3px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1050px) {
  .nav-links {
    width: 60%;
  }
}

/* NAVIGATOR TABLET SIZE*/

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 45vh;
    top: 12vh;
    background: linear-gradient(
      to bottom,
      hsla(212, 69%, 28%, 0.7),
      hsla(212, 69%, 28%, 0.4)
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    margin-right: 30px;
  }
  .nav-active {
    transform: translateX(0%);
  }
}

/*LINK FADE*/

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* NAVIGATOR MOBILE SIZE*/
@media screen and (max-width: 450px) {
  nav {
    height: 8vh;
  }
  .logo {
    font-size: 1rem;
    padding-left: 15px;
  }
  nav img {
    width: 11%;
    height: 11%;
  }
  .burger {
    margin-right: 20px;
  }
  .burger div {
    width: 25px;
    height: 3px;
    margin-right: 15px;
  }
  .nav-links {
    top: 9vh;
    height: 39vh;
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 4px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -4px);
  }
}
/*NAVIGATOR FOR LANDSCAPE*/

@media screen and (min-width: 650px) and (max-width: 750px) and (orientation: landscape) {
  nav {
    height: 15vh;
  }
  nav img {
    width: 7%;
    height: 7%;
  }
  .hl {
    padding-bottom: 10px;
  }
  .burger div {
    width: 25px;
    height: 3px;
    margin-right: 15px;
  }
  .nav-links {
    top: 15vh;
    height: 80vh;
  }
  .logo {
    font-size: 1rem;
    padding-left: 15px;
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 4px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -4px);
  }
}

/* BANNER TABLET SIZE*/
@media screen and (max-width: 900px) {
  .bannermenu {
    height: 25rem;
    background-position: bottom;
  }
  .hl {
    top: 12vh;
  }
  .bannermenu h1 {
    font-size: 2.7rem;
    padding-top: 27vh;
    letter-spacing: 1px;
  }
  .bannermenu h3 {
    font-size: 1.2rem;
  }
}

/*BANNER MOBILE SIZE*/
@media screen and (max-width: 450px) {
  .bannermenu {
    height: 20rem;
    background-position: bottom;
  }
  .bannermenu h1 {
    padding-top: 20vh;
    font-size: 1.8rem;
  }
  .bannermenu h3 {
    font-size: 0.9rem;
  }
  .hl {
    top: 8vh;
  }
}
.tools-wrapper{
  margin: 15vh 2vh;
  height:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* Schedule of Grants and Activities*/
.mural_wrapper{
  margin: 10px;
  width: 30%;
  height:80vh;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.mural_wrapper h1,
.calendar_wrapper h1,
.twitter_wrapper h1{
  font-family: 'Montserrat', serif;
  font-weight: 400;
  text-align: center;
  font-size: 1.2rem;
  padding: 20px 10px;
  color: rgb(104, 103, 103);
}
.mural{
  width: 100%;
  height: 85%;
  background-color: hsla(0, 0%, 77%,0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-y:scroll;
  scroll-behavior: smooth;
  padding: 15px 0;
}
#mural::-webkit-scrollbar{
  width: 4px;
  background: hsla(0, 0%, 50%, 0.3);
}
#mural::-webkit-scrollbar-thumb{
  background: #969696;
  border-radius: 10px;
}
.mural-unit{
  width: 98%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.vl{
  width: 3px;
  margin: auto 0;
  height: 60px;
  border-radius: 10px;
  margin-left: 5px;
  transform: translateX(10px);
  opacity: 0.5;
}
.activity{
  background: white;
  width:95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.activity-name{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.activity1{
  width:80%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.activity1 h2{
  font-family: 'Montserrat', serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: rgb(104, 103, 103);
  text-align: left;
}
.details-wrapper{
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.classification{
  font-family: 'montserrat', serif;
  color:rgb(104, 103, 103);
  font-size: 0.9rem;
}
.bullet{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 3px;
}
.date-wrapper{
  display: flex;
  flex-direction: column;
}
.activity2{
  background-color: hsla(0, 0%, 77%,0.2);
  font-size: 0.8rem;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
  height: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:20%;
  padding:10px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.open h2,
.open h3{
  font-family: 'montserrat', serif;
  color:#002147;
}
.deadline h2,
.deadline h3{
  font-family: 'montserrat', serif;
  color:#ff8700;
}

.activity-name a{
  text-align: left;
}
.read{
  margin: 5px 0px;
  width: 90px;
  padding: 5px 8px;
  border-radius: 30px;
  border: none;
  font-family:'montserrat', serif;
  background: hsla(0, 0%, 77%,0.2);
  color:rgb(104, 103, 103);
  cursor: pointer;
}
.read:hover{
  background-color: #f89b29;
}
/* CALENDAR */
.calendar_wrapper{
  margin: 10px;
  height: 80vh;
  width:500px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#calendar {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 500px;
  margin: 0 auto;
  height: 70vh;
  overflow: hidden;
  border-radius: 10px;
}
.header {
  height: 45px;
  width: 500px;
  background-color: hsla(0, 0%, 77%,0.2);
  text-align: center;
  position:relative;
  z-index: 100;
}
.header h1 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 50px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: 'Montserrat', serif;
}
.left, .right {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  top: 50%;
  margin-top: -7.5px;
  cursor: pointer;
} 
.left {
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
  left: 20px;
}
.right {
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent rgba(160, 159, 160, 1);
  right: 20px;
}
.month {
  /*overflow: hidden;*/
  opacity: 0;
}
.month.new {
  -webkit-animation: fadeIn 1s ease-out;
  opacity: 1;
}
.month.in.next {
  -webkit-animation: moveFromTopFadeMonth .4s ease-out;
  -moz-animation: moveFromTopFadeMonth .4s ease-out;
  animation: moveFromTopFadeMonth .4s ease-out;
  opacity: 1;
}
.month.out.next {
  -webkit-animation: moveToTopFadeMonth .4s ease-in;
  -moz-animation: moveToTopFadeMonth .4s ease-in;
  animation: moveToTopFadeMonth .4s ease-in;
  opacity: 1;
}
.month.in.prev {
  -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
  -moz-animation: moveFromBottomFadeMonth .4s ease-out;
  animation: moveFromBottomFadeMonth .4s ease-out;
  opacity: 1;
}
.month.out.prev {
  -webkit-animation: moveToBottomFadeMonth .4s ease-in;
  -moz-animation: moveToBottomFadeMonth .4s ease-in;
  animation: moveToBottomFadeMonth .4s ease-in;
  opacity: 1;
}
.week {
 background-color: hsla(0, 0%, 77%,0.2);
 transform: translateX(1px);
}
.day {
  position:absolute;
  display: inline-block;
  width: 71px;
  padding: 5px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  background:  hsla(0, 0%, 77%,0.2);
  color: #002147;
  position: relative;
  z-index: 100;
  font-family: 'Montserrat', serif;
}
.day.other {
 color: rgb(146, 145, 145);
 font-family: 'Montserrat', serif;
}
.day.today {
  color: #ff8700;
  font-family: 'Montserrat', serif;
}
/*Day of week*/
.day-name {
  font-size: 9px;
  text-transform: uppercase;
  margin-bottom: 2px;
  color: rgb(104, 103, 103);
  letter-spacing: .7px;
  font-family: 'Montserrat', serif;
}
.day-number {
  font-size: 20px;
  letter-spacing: 1px;
}
.day .day-events {
  list-style: none;
  margin-top: 3px;
  text-align: center;
  height: 10px;
  line-height: 6px;
  overflow: hidden;
}
.day .day-events span {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  line-height: 5px;
  margin: 0 1px;
}
.blue { background: rgb(42, 136, 202); }
.orange { background: rgb(255, 135, 0); }
.green { background: rgba(153, 198, 109, 1); }
.yellow { background: rgb(238, 195, 3); }
/* Event line*/
.details {
  position: relative;
  width: 500px;
  height: 75px;
  background: rgba(164, 164, 164, 0.4);
  margin-top: 5px;
  border-radius: 4px;
}
.details.in {
  -webkit-animation: moveFromTopFade .5s ease both;
  -moz-animation: moveFromTopFade .5s ease both;
  animation: moveFromTopFade .5s ease both;
}
.details.out {
  -webkit-animation: moveToTopFade .5s ease both;
  -moz-animation: moveToTopFade .5s ease both;
  animation: moveToTopFade .5s ease both;
}
.arrow {
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -2px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent rgba(164, 164, 164, 1) transparent;
  transition: all 0.7s ease;
}
.events {
  position: relative;
  height: 74px;
  padding: 7px 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.events.in {
  -webkit-animation: fadeIn .3s ease both;
  -moz-animation: fadeIn .3s ease both;
  animation: fadeIn .3s ease both;
}
.events.in {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  animation-delay: .3s;
}
.details.out .events {
  -webkit-animation: fadeOutShrink .4s ease both;
  -moz-animation: fadeOutShink .4s ease both;
  animation: fadeOutShink .4s ease both;
}
.events.out {
  -webkit-animation: fadeOut .3s ease both;
  -moz-animation: fadeOut .3s ease both;
  animation: fadeOut .3s ease both;
}
.event {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .5px;
  padding: 2px 16px;
  vertical-align: top;
}
.event.empty {
  color:rgb(110, 108, 108);
}
.event-category {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 6px 0 0;
  vertical-align: top;
}
.event span {
  display: inline-block;
  padding: 0 0 0 7px;
}
.legend {
  position: absolute;
  bottom:0px;
  width: 100%;
  height:30px;
  background-color: hsla(0, 0%, 77%,0.1);
  line-height: 30px;
  font-family: 'Montserrat', serif;
}
.entry {
  position: relative;
  padding: 0 0 0 25px;
  font-size: 13px;
  display: inline-block;
  line-height: 30px;
  background: transparent;
  color:rgb(110, 108, 108);
}
.entry:after {
  position: absolute;
  content: '';
  border-radius: 50%;
  height: 8px;
  width: 8px;
  top: 12px;
  left: 14px;
}
.entry.blue:after { background: rgb(42, 136, 202); }
.entry.orange:after {background: rgb(255, 135, 0); }
.entry.green:after { background: rgba(153, 198, 109, 1); }
.entry.yellow:after { background: rgb(238, 195, 3); }
/* Animations are cool!  */
@-webkit-keyframes moveFromTopFade {
  from { opacity: .3; height:0px; margin-top:0px; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveFromTopFade {
  from { height:0px; margin-top:0px; -moz-transform: translateY(-100%); }
}
@keyframes moveFromTopFade {
  from { height:0px; margin-top:0px; transform: translateY(-100%); }
}

@-webkit-keyframes moveToTopFade {
  to { opacity: .3; height:0px; margin-top:0px; opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveToTopFade {
  to { height:0px; -moz-transform: translateY(-100%); }
}
@keyframes moveToTopFade {
  to { height:0px; transform: translateY(-100%); }
}
@-webkit-keyframes moveToTopFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveToTopFadeMonth {
  to { opacity: 0; -moz-transform: translateY(-30%); }
}
@keyframes moveToTopFadeMonth {
  to { opacity: 0; -moz-transform: translateY(-30%); }
}

@-webkit-keyframes moveFromTopFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveFromTopFadeMonth {
  from { opacity: 0; -moz-transform: translateY(30%); }
}
@keyframes moveFromTopFadeMonth {
  from { opacity: 0; -moz-transform: translateY(30%); }
}

@-webkit-keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%); }
}
@keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%); }
}

@-webkit-keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%); }
}
@keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%); }
}

@-webkit-keyframes fadeIn  {
  from { opacity: 0; }
}
@-moz-keyframes fadeIn  {
  from { opacity: 0; }
}
@keyframes fadeIn  {
  from { opacity: 0; }
}
@-webkit-keyframes fadeOut  {
  to { opacity: 0; }
}
@-moz-keyframes fadeOut  {
  to { opacity: 0; }
}
@keyframes fadeOut  {
  to { opacity: 0; }
}
@-webkit-keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}
@-moz-keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}
@keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}
.events{
  width: 90%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color:grey;
  text-align: center;
  padding-top: 30px;
  border-bottom: solid 0.4px rgba(121, 118, 118,0.3);
}
/* twitter*/
.twitter_wrapper{
  margin: 10px;
  width: 25%;
  height: 80vh;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.twitterbox {
  width: 100%;
  height: 70%;
}

/* Mobile features News*/
@media screen and (max-width: 450px){
  .tools-wrapper{
    margin: 5vh 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mural_wrapper{
    width: 85%;
    height: 70vh;
    margin: 20px;
  }
  .mural{
    width: 100%;
    height: 80%;
    margin: 20px auto;
  }
  .activity h2{
    font-size: 0.7rem;
  }
  .classification{
    font-size: 0.7rem;
  }
  .activity2{
    font-size: 0.6rem;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 10px;
    height: 70%;
    padding: 5px;
  }
  .calendar_wrapper{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 20px;
    margin:20px;
    height: 80vh
  }
  #calendar{
    width: 85vw;
    height: 85%;
    overflow: scroll;
    scroll-behavior: smooth;
  }
  .header{
    width: 85vw;
  }
  .day{
    width: 14.2%;
    padding: 3px;
  }
  .details{
    width: 85vw;
    height: 74px;
  }
  .legend{
    bottom: -150px;
  }
  .entry{
    font-size: 10px;
  }
  .twitter_wrapper{
    width: 85vw;
    height: 70vh;
  }
  .twitterbox{
    width: 100%;
    height: 60%;
  }
  .mural_wrapper h1,
  .calendar_wrapper h1,
  .twitter_wrapper h1{
    font-size: 1rem;
  }
}
/* News for Landscape*/
@media sreen and (min-width: 650px) and (max-width: 750px){
  .tools-wrapper{
    margin: 5vh 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .mural_wrapper{
    width: 85vw;
    height: 70vh;
    margin: 20px;
  }
  .mural{
    width: 100%;
    margin: 5px auto;
    height: 70%;
  }
  .activity1 h2{
    font-size: 0.7rem;
  }
  .classification{
    font-size: 0.7rem;
  }
  .activity2{
    font-size: 0.6rem;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 10px;
    padding: 5px;
  }
  .calendar_wrapper{
    margin: 20px;
    height: 80vh;
  }
  #calenda{
    width: 85vw;
    height: 75%;
    overflow: scroll;
    scroll-behavior: smooth;
  }
  .legend{
    bottom: -250px;
    background-color: transparent;
  }
  .header{
    width: 85vw;
  }
  .day{
    width: 14.2%;
    padding: 3px;
  }
  .details{
    width: 85vw;
    height: 74px;
  }
  .twitter_wrapper{
    width: 85vw;
    height: 70vh;
  }
  .twitterbox{
    width: 100%;
    height: 60%;
  }
  .mural_wrapper h1,
  .calendar_wrapper h1,
  .twitter_wrapper h1{
    font-size: 1rem;
  }
}
/* Tablet Size */
@media screen and (max-width: 900px){
  .tools-wrapper{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .mural_wrapper{
    width: 90vw;
  }
  .mural{
    height: 80%;
  }
  .calendar_wrapper{
    width: 90vw;
    height: 80vh;
  }
  #calendar{
    width: 80vw;
    height: 80%;
  }
  .header{
    width: 80vw;
  }
  .day{
    width: 14.2%;
    padding: 3px;
  }
  .details{
    width: 80vw;
  }
  .twitter_wrapper{
    width: 85vw;
    height: 70vh;
  }
}
/* gap between laptop and tablet*/
@media screen and (max-width: 1300px){
  .tools-wrapper{
    flex-direction: row;
  }
  .mural_wrapper{
    width: 45%;
  }
  .twitter_wrapper{
    width: 40%;
  }
}
@media screen and (max-width: 1000px){
  .tools-wrapper{
    flex-direction: row;
  }
  .mural_wrapper{
    width: 80%;
  }
  .twitter_wrapper{
    width: 40%;
  }
}
/*SOCIAL MEDIA*/
#socialmedia {
  background-color: hsla(0, 0%, 35%, 0.7);
  padding: 50px 0;
}
.mediacontent {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}
.media {
  width: 15%;
  display: block;
  padding-top: 60px;
  text-align: center;
}
.media h4 {
  font-family: "Montserrat", serif, arial;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  border-bottom: solid 1px hsla(0, 0%, 100%, 0.7);
  padding-bottom: 10px;
  width: 80%;
  margin: 0 auto;
}
.share-icons {
  margin-top: 10px;
}
.share-icons a{
  color:white;
  text-decoration: none;
  margin: 0 10px;
  font-family: 'Montserrat', serif;
}
.share-icons i{
  margin-right: 5px;
}
/*SOCIAL MEDIA TABLET SIZE*/
@media screen and (max-width: 900px) {
  .media {
    width: 20%;
  }
  .media h4 {
    font-size: 0.9rem;
  }
}
/*SOCIAL MEDIA MOBILE SIZE*/
@media screen and (max-width: 450px) {
  #socialmedia {
    padding: 30px 0;
  }
  .media {
    width: 40%;
    padding-top: 20px;
  }
  .media h4 {
    font-size: 0.8rem;
  }
}
/*LANDSCAPE SOCIAL MEDIA*/

@media screen and (min-width: 650px) and (max-width: 750px) and (orientation: landscape) {
  .media {
    width: 50%;
    padding-top: 20px;
  }
}
/*FOOTER*/
footer {
  background-color: hsla(0, 0%, 35%, 0.7);
  font-family: 'Roboto', sans-serif, arial;
  color: white;
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 0.8rem;
  padding: 5px 30px;
}
/*SOCIAL MEDIA MOBILE SIZE*/

@media screen and (max-width: 450px) {
  footer {
    font-size: 0.6rem;
    flex-direction: column;
    text-align: center;
  }
}