* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif, serif;
  background-color: hsl(0, 0%, 98%);
  margin: 0 auto;
}
/*NAVIGATOR*/
.bannermenu {
  background-image: linear-gradient(
      to right bottom,
      hsla(212, 100%, 14%, 0.4),
      transparent
    ),
    url("../images/Research/pexels-louis-2025872.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
}
.bannermenu h1 {
  font-family: "Monteserrat", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 4px;
  text-align: center;
  padding-top: 35vh;
  color: white;
}
.bannermenu h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
}
/* NAV BAR*/
nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    180deg,
    hsla(209, 100%, 13%, 0.8),
    hsla(209, 100%, 13%, 0.5),
    transparent
  );
  height: 11vh;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}
.hl {
  width: 90%;
  margin: 0 auto;
  border-bottom: solid 1px hsl(0, 0%, 100%, 1);
  position: relative;
  top: 11vh;
}
nav img {
  width: 10%;
  height: 10%;
  margin-right: 10px;
}
.logo {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 1.3rem;
  padding-left: 5%;
}
.logo span {
  color: #ff8700;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-links li {
  list-style: none;
  font-weight: bold;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px;
  margin: 5px;
}
.nav-links a:hover {
  color: #002147;
  background-color: hsla(0, 0%, 100%, 0.4);
  border-radius: 10px;
}

/*Burger features*/
.burger {
  display: none;
}
.burger div {
  cursor: pointer;
  width: 30px;
  height: 5px;
  background-color: white;
  margin: 3px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1050px) {
  .nav-links {
    width: 60%;
  }
}

/* NAVIGATOR TABLET SIZE*/

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 45vh;
    top: 12vh;
    background: linear-gradient(
      to bottom,
      hsla(212, 69%, 28%, 0.7),
      hsla(212, 69%, 28%, 0.4)
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    margin-right: 30px;
  }
  .nav-active {
    transform: translateX(0%);
  }
}

/*LINK FADE*/

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* NAVIGATOR MOBILE SIZE*/
@media screen and (max-width: 450px) {
  nav {
    height: 8vh;
  }
  .logo {
    font-size: 1rem;
    padding-left: 15px;
  }
  nav img {
    width: 11%;
    height: 11%;
  }
  .burger {
    margin-right: 20px;
  }
  .burger div {
    width: 25px;
    height: 3px;
    margin-right: 15px;
  }
  .nav-links {
    top: 9vh;
    height: 39vh;
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 4px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -4px);
  }
}
/*NAVIGATOR FOR LANDSCAPE*/

@media screen and (min-width: 650px) and (max-width: 750px) and (orientation: landscape) {
  nav {
    height: 15vh;
  }
  nav img {
    width: 7%;
    height: 7%;
  }
  .hl {
    padding-bottom: 10px;
  }
  .burger div {
    width: 25px;
    height: 3px;
    margin-right: 15px;
  }
  .nav-links {
    top: 15vh;
    height: 80vh;
  }
  .logo {
    font-size: 1rem;
    padding-left: 15px;
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 4px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -4px);
  }
}

/* BANNER TABLET SIZE*/
@media screen and (max-width: 900px) {
  .bannermenu {
    height: 25rem;
    background-position: bottom;
  }
  .hl {
    top: 12vh;
  }
  .bannermenu h1 {
    font-size: 2.7rem;
    padding-top: 27vh;
    letter-spacing: 1px;
  }
  .bannermenu h3 {
    font-size: 1.2rem;
  }
}

/*BANNER MOBILE SIZE*/
@media screen and (max-width: 450px) {
  .bannermenu {
    height: 20rem;
    background-position: bottom;
  }
  .bannermenu h1 {
    padding-top: 20vh;
    font-size: 1.8rem;
  }
  .bannermenu h3 {
    font-size: 0.9rem;
  }
  .hl {
    top: 8vh;
  }
}
/*Research lines*/

#researchline {
  line-height: 0.5;
  padding: 40px 0px;
  text-align: center;
  font-family: "Montserrat", sans-serif, arial;
  color: #666569;
}
.img_wrapper{
  display: flex;
  flex-direction: column;
  width: 25%;
}
.img_wrapper figcaption{
  font-family: 'Montserrat', serif;
  font-size: 0.65rem;
  width: 90%;
}
.researchunit {
  padding: 20px 20px;
  line-height: 1.5;
  margin: 60px auto;
  background-color: hsla(0, 0%, 77%, 0.2);
  height: auto;
  color: #666569;
}
.researchdescription {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: space-around;
}
.researchdescription img {
  width: 90%;
}
.research-content {
  width: 70%;
  display: box;
  text-align: justify;
  padding-left: 30px;
}
.research-content h1 {
  text-align: left;
  color: #002147;
  font-size: 1.4rem;
  border-bottom: solid 0.4px rgba(121, 118, 118, 0.3);
}
.research-content p {
  line-height: 1.5;
}
.research-content h4 {
  padding-top: 5px;
  font-weight: 400;
  font-size: 1rem;
}
.research-content h3 {
  font-weight: 400;
  width: 20%;
  color: #002147;
}
.research-content a {
  text-decoration: none;
  color: #666569;
  font-style: italic;
  text-decoration: underline;
}
.research-content a:hover {
  color: #4e4e52;
  font-weight: bold;
}
.midia h3 {
  width: 17%;
}
.midia a {
  text-decoration: none;
  color: #666569;
  font-style: italic;
  text-decoration: underline;
}
.midia a:hover {
  color: #4e4e52;
  font-weight: bold;
}
/*RESEARCH LINE MOBILE SIZE*/

@media screen and (max-width: 450px) {
  #researchline {
    padding: 10px;
  }
  .researchdescription {
    flex-direction: column;
  }
  .researchdescription img {
    width: 70%;
  }
  .research-content {
    margin-top: 10px;
    width: 90%;
  }
  .research-content h1 {
    display: none;
  }
  .research-content {
    padding: 0;
  }
  .research-content h3 {
    text-align: center;
    width: 50%;
    margin: 10px auto;
  }
  .research-content h4,
  p {
    font-size: 0.9rem;
  }
  .midia h3 {
    text-align: center;
  }
  .research-content a:hover {
    font-size: 1rem;
  }
}
/*NAVIGATOR FOR LANDSCAPE*/

@media screen and (min-width: 650px) and (max-width: 750px) and (orientation: landscape) {
  #researchline {
    padding: 10px;
  }
  .researchdescription {
    flex-direction: column;
  }
  .researchdescription img {
    width: 40%;
  }
  .research-content {
    margin-top: 10px;
    width: 90%;
  }
  .research-content h1 {
    display: none;
  }
  .research-content {
    padding: 0;
  }
  .research-content h3 {
    text-align: center;
    width: 50%;
    margin: 10px auto;
  }
  .research-content h4,
  p {
    font-size: 0.9rem;
  }
  .midia h3 {
    text-align: center;
  }
  .research-content a:hover {
    font-size: 1rem;
  }
}
/*FUNDING*/
#fundation {
  padding: 30px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainfunding {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif, arial;
  font-size: 1.4rem;
  text-align: center;
  color: rgb(110, 108, 108);
}
.mainfunding h2 {
  font-size: 1.5rem;
  font-weight: 400;
  width: 35%;
}
.hl4 {
  width: 30%;
  border-bottom: solid 1px rgba(110, 108, 108, 0.5);
  position: relative;
  margin-bottom: 1%;
}
.funders {
  padding-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.funders img {
  width: 150px;
  padding: 0 20px;
}
/*FUNDING TABLET SIZE*/
@media screen and (max-width: 900px) {
  #fundation {
    padding-top: 15px;
  }
  .mainfunding h2 {
    font-size: 1.2rem;
  }
  .funders img {
    width: 100px;
  }
}
/*FUNDING MOBILE SIZE*/
@media screen and (max-width: 450px) {
  .mainfunding h2 {
    width: 90%;
    font-size: 0.9rem;
  }
  .funders img {
    width: 100px;
  }
  .hl4 {
    margin-bottom: 2%;
  }
}
/*SOCIAL MEDIA*/
#socialmedia {
  background-color: hsla(0, 0%, 35%, 0.7);
  padding: 50px 0;
}
.mediacontent {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}
.media {
  width: 15%;
  display: block;
  padding-top: 60px;
  text-align: center;
}
.media h4 {
  font-family: "Montserrat", sans serif, arial;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  border-bottom: solid 1px hsla(0, 0%, 100%, 0.7);
  padding-bottom: 10px;
  width: 80%;
  margin: 0 auto;
}
.share-icons i {
  padding: 10px;
}
/*SOCIAL MEDIA TABLET SIZE*/
@media screen and (max-width: 900px) {
  .media {
    width: 20%;
  }
  .media h4 {
    font-size: 0.9rem;
  }
}
/*SOCIAL MEDIA MOBILE SIZE*/
@media screen and (max-width: 450px) {
  #socialmedia {
    padding: 30px 0;
  }
  .media {
    width: 40%;
    padding-top: 20px;
  }
  .media h4 {
    font-size: 0.8rem;
  }
}
/*LANDSCAPE SOCIAL MEDIA*/

@media screen and (min-width: 650px) and (max-width: 750px) and (orientation: landscape) {
  .media {
    width: 50%;
    padding-top: 20px;
  }
}
/*FOOTER*/
footer {
  background-color: hsla(0, 0%, 35%, 0.7);
  font-family: 'roboto', sans-serif, arial;
  color: white;
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 0.8rem;
  padding: 5px 30px;
}
/*SOCIAL MEDIA MOBILE SIZE*/

@media screen and (max-width: 450px) {
  footer {
    font-size: 0.6rem;
    flex-direction: column;
    text-align: center;
  }
}
