{% extends "base.html" %}

{% block content %}

<form id="data-upload-form"
      action="/management/"
      formenctype="multipart/form-data"
      mehod="post">
  {% csrf_token %}
  <div class="form-row">
    <label for="datafile">Excel workbook:</label>
    <input id="datafile"
           accept=".xlsx,.txt"
           name="datafile"
           type="file"/>
  </div>
  <div class="form-row">
    <label for="notes">Notes:</label>
    <textarea id="notes"
              cols="32"
              maxlength="512"
              name="notes"
              rows="16"
              >
    </textarea>
  </div>
  <div class="form-row">
    <input  formaction="/management/"
            formmethod="post"
            type="submit"
            value="Submit" />
<!--    <input formaction="/"
           formmethod="get"
           type="submit"
           value="Cancel"/>
-->
  </div>
</form>

{% endblock content %}
