{% extends 'base.html' %} {% block home %}
<div class="general-content">
  <h2>Who we are?</h2>
  <p>Arboverse is a team of enthusiastic researchers about the arthropod-borne virus (arboviruses) and extends to
    virus discovery. We work on approaches to better understand them, identifying and investigating their
    disease and evolution.</p>
</div>
<section>
  <div class="title-how">
    <div class="hl2"></div>
    <h2>Arboverse Dashboard</h2>
    <div class="hl2"></div>
  </div>
  <div class="purpose">
    <div class="purpose-unit">
      <img src="../static/images/icons aboverse/ecology-01.png" alt="ecology and Earth icon" />
      <h4>Ecology</h4>
      <h5>Climate Information</h5>
      <h5>Forest Cover & Deforestation</h5>
      <h5>Land Cover and Use</h5>
    </div>
    <div class="purpose-unit">
      <img src="../static/images/icons aboverse/humanmobilty1-01.png" alt="Human mobility, flight icon" />
      <h4>Human Mobility</h4>
      <h5>Flights Per Country</h5>
      <h5>Number of Passengers</h5>
    </div>
    <div class="purpose-unit">
      <img src="../static/images/icons aboverse/Vector1-01.png" alt="Mosquito icon" />
      <h4>Vector</h4>
      <h5>Vector Type</h5>
      <h5>Vector Species</h5>
    </div>
    <div class="purpose-unit">
      <img src="../static/images/icons aboverse/catalogue-01.png" alt="Research and catalogue icon" />
      <h4>Arbovirus Catalogue</h4>
      <h5>Taxonomic and Genomics</h5>
      <h5>Diseases</h5>
      <h5>Laboratory</h5>
    </div>
  </div>
</section>
<!--Dashboar contente-->
<div id="main-content">
  <div class="content">
    <h2>We investigate arbovirus and emerging viruses</h2>
    <p>
      Arboverse is an open-source project to centralize information about
      viruses transmitted by arthropods in nature and actually or potentially
      infectious for humans or domestic animals. We provide a
      continually-updated view of publicly available data alongside powerful
      analytic and visualization tools for use by the community. Our goal is to
      summarize the information on arboviruses. If you have any questions,
      suggestions, discovered a new arbovirus, or simply want to say hi, please
      contact us at arboverse@arboverse.com
    </p>
  </div>
  <img src="../static/images/Index/indexfig-01.png" alt="" title="Ilustration of abstract universe" />
</div>
<!--VIDEO SECTION-->
<div class="video">
  <h2>Using the platfform</h2>
  <video src="../static/video/pexels-zlatin-georgiev-5607842.mp4" autoplay loop></video>
</div>
<!--FUNDING-->
<div id="fundation">
  <div class="mainfunding">
    <div class="hl4"></div>
    <h2>We have been funded by</h2>
    <div class="hl4"></div>
  </div>
  <div class="funders">
    <a href="https://fapesp.br" target="_blank"><img src="../static/images/Index/fapesp-2.png" /></a>
    <a href="https://www.gov.br/cnpq/pt-br" target="_blank"><img src="../static/images/Index/cnpq.png" /></a>
  </div>
</div>
<!--Follow us-->
<div id="socialmedia" class="mediacontent">
  <div class="media">
    <h5>Share the page</h5>
    <div class="share-icons">
      <a href="https://twitter.com/intent/tweet?text=TITULO&url=LINK&via=SEUPERFIL" target="_blank"
        aria-label="Link to share the page on Twitter"><i class="fa fa-twitter fa-2x" style="color: white"></i></a>
      <a href="https://twitter.com/intent/tweet?text=TITULO&url=LINK&via=SEUPERFIL" target="_blank"
        aria-label="Link to share the page on Facebook"><i class="fa fa-facebook fa-2x" style="color: white"></i></a>
    </div>
  </div>
  <div class="media">
    <h5>Follow us</h5>
    <div class="share-icons">
      <a href="https://twitter.com/wmarciels" target="_blank"
        aria-label="Link to Follow the Arboverse page on Twitter"><i class="fa fa-twitter fa-2x"
          style="color: white"></i></a>
    </div>
  </div>
  <div class="media">
    <h5>Contact us</h5>
    <div class="share-icons">
      <a href="mailto:wmarciel@hotmail.com" aria-label="Link to send an e-mail to Arboverse"><i
          class="fa fa-envelope fa-2x" style="color: white"></i></a>
    </div>
  </div>
</div>
{% endblock %}