{% extends 'base.html' %}{% load static %}
{% block resources %}
  <link href="{% static 'css/contactus.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block title %}
  ARBOVERSE CONTACT
{% endblock %}

{% block content %}
  <!--Banner information-->
  <h1>Help us to keep expanding this universe</h1>
  <h2>ARBOVERSE is open to sugestions and new data that makes our purpose better</h2>
</div>
  <main>
    <section class="contactus_section">
      <h3> Contact us </h3>
    </section>


  </main>
{% endblock %}
