{% extends 'base.html' %}{% load static %}
{% block resources %}
  <link href="{% static 'css/news.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block title %}
  News
{% endblock %}

{% block content %}
  <main>
    <div class="tools-wrapper">
      <!--Mural-->
      <div class="mural" id="mural">
        <h1>Opportunities</h1>
        <div class="mural-unit">
          <div class="vl blue"></div>
          <div class="activity">
            <div class="activity-name">
              <div class="activity1">
                <h2>Grant one</h2>
                <div class="details-wrapper">
                  <span class="bullet blue"></span><span class="classification">Fellowship</span>
                </div>
                <a href="#"><button class="read">Read more</button></a>
              </div>
              <div class="activity2 open">
                <h2>10</h2>
                <h3>June</h3>
              </div>
              <div class="activity2 deadline">
                <h2>10</h2>
                <h3>August</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="mural-unit">
          <div class="vl green"></div>
          <div class="activity">
            <div class="activity-name">
              <div class="activity1">
                <h2>Grant two</h2>
                <div class="details-wrapper">
                  <span class="bullet green"></span><span class="classification">Grant</span>
                </div>
            <a href="#"><button class="read">Read more</button></a>
              </div>
              <div class="activity2 open">
                <h2>10</h2>
                <h3>June</h3>
              </div>
              <div class="activity2 deadline">
                <h2>10</h2>
                <h3>August</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="mural-unit">
          <div class="vl blue"></div>
          <div class="activity">
            <div class="activity-name">
              <div class="activity1">
                <h2>Grant three</h2>
                <div class="details-wrapper">
                  <span class="bullet blue"></span><span class="classification">Fellowship</span>
                </div>
                <a href="#"><button class="read">Read more</button></a>
              </div>
              <div class="activity2 open">
                <h2>10</h2>
                <h3>June</h3>
              </div>
              <div class="activity2 deadline">
                <h2>10</h2>
                <h3>August</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="mural-unit">
          <div class="vl orange"></div>
          <div class="activity">
            <div class="activity-name">
              <div class="activity1">
                <h2>Grant four</h2>
                <div class="details-wrapper">
                  <span class="bullet orange"></span><span class="classification">Fellowship</span>
                </div>
                <a href="#"><button class="read">Read more</button></a>
              </div>
              <div class="activity2 open">
                <h2>10</h2>
                <h3>June</h3>
              </div>
              <div class="activity2 deadline">
                <h2>10</h2>
                <h3>August</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Calendar-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
      <div id="calendar"></div>
      <script src="{% static 'js/calendar.js' %}"></script>
      <!--Twitter BOX-->
      <div class="twitterbox">
        <a class="twitter-timeline" data-width="1200" data-height="600" href="https://twitter.com/wmarciels?ref_src=twsrc%5Etfw">Tweets by wmarciels</a>
        <script async="async" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
      
      
  </main>
  

{% endblock %}
