{% extends 'base.html' %}{% load static %}
{% block resources %}
  <link href="{% static 'css/news.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block title %}
  News
{% endblock %}

{% block content %}
  <!--Banner information-->
  <h1>Events</h1>
  <h3>Meetings & Courses | Fellowship & Scolarship | Grants</h3>
</div>
  <main>
    <div class="tools-wrapper">
      <!--Mural-->
      <div class="mural_wrapper">
        <h1>Opportunities</h1>
        <div class="mural" id="mural">
          <div class="mural-unit">
            <div class="vl blue"></div>
            <div class="activity">
              <div class="activity-name">
                <div class="activity1">
                  <h2>Grant one</h2>
                  <div class="details-wrapper">
                    <span class="bullet blue"></span><span class="classification">Fellowship</span>
                  </div>
                  <a href="#"><button class="read">Read more</button></a>
                </div>
                <div class="activity2 open">
                  <h2>10</h2>
                  <h3>June</h3>
                </div>
                <div class="activity2 deadline">
                  <h2>10</h2>
                  <h3>August</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="mural-unit">
            <div class="vl green"></div>
            <div class="activity">
              <div class="activity-name">
                <div class="activity1">
                  <h2>Grant two</h2>
                  <div class="details-wrapper">
                    <span class="bullet green"></span><span class="classification">Grant</span>
                  </div>
              <a href="#"><button class="read">Read more</button></a>
                </div>
                <div class="activity2 open">
                  <h2>10</h2>
                  <h3>June</h3>
                </div>
                <div class="activity2 deadline">
                  <h2>10</h2>
                  <h3>August</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="mural-unit">
            <div class="vl blue"></div>
            <div class="activity">
              <div class="activity-name">
                <div class="activity1">
                  <h2>Grant three</h2>
                  <div class="details-wrapper">
                    <span class="bullet blue"></span><span class="classification">Fellowship</span>
                  </div>
                  <a href="#"><button class="read">Read more</button></a>
                </div>
                <div class="activity2 open">
                  <h2>10</h2>
                  <h3>June</h3>
                </div>
                <div class="activity2 deadline">
                  <h2>10</h2>
                  <h3>August</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="mural-unit">
            <div class="vl orange"></div>
            <div class="activity">
              <div class="activity-name">
                <div class="activity1">
                  <h2>Grant four</h2>
                  <div class="details-wrapper">
                    <span class="bullet orange"></span><span class="classification">Fellowship</span>
                  </div>
                  <a href="#"><button class="read">Read more</button></a>
                </div>
                <div class="activity2 open">
                  <h2>10</h2>
                  <h3>June</h3>
                </div>
                <div class="activity2 deadline">
                  <h2>10</h2>
                  <h3>August</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Calendar-->
      <div class="calendar_wrapper">
        <h1>Calendar of Grants & Fellowships</h1>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <div id="calendar"></div>
        <script src="{% static 'js/calendar.js' %}"></script>
      </div>
      <!--Twitter BOX-->
      <div class="twitter_wrapper">
        <h1>Our Social Media</h1>
        <div class="twitterbox">
          <a class="twitter-timeline" href="https://twitter.com/arboverse?ref_src=twsrc%5Etfw">Tweets by arboverse</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>


  </main>
{% endblock %}
