{% extends 'base.html' %}{% load static %}
{% block resources %}
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/publications.css' %}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link
        rel="sortcut icon"
        href="{% static 'images/Arboverse_logo-2.png' %}"
        type="image/png"
    />

{% endblock %}
{% block title %}Publications{% endblock %}

{% block content %}
<!--PUBLICATION AREA-->
<main>
    <div class="main-content">
        <h2 class="title">Title</h2>
        <h2 class="title">Year of publication</h2>
    </div>
    <section class="publications-title">
        <table class="fix">
            <tr>
                <th> 59. Dataset on SARS-CoV-2 non-pharmaceutical interventions in Brazilian municipalities.<span><a
                            href="Dataset on SARS-CoV-2 non-pharmaceutical interventions in Brazilian municipalities/"
                            target="_blank"> Scientific Data </a></span></span></th>
                <th>2021</th>
            </tr>
            <tr>
                <th> 58. Epidemiology and evolution of Zika virus in Minas Gerais, Southeast Brazil.<span><a
                            href="https://www.sciencedirect.com/science/article/abs/pii/S1567134821000824?via%3Dihub"
                            target="_blank"> Infection, Genetics and Evolution</a></span></span></th>
                <th>2021</th>
            </tr>
            <tr>
                <th> 57. 2020 taxonomic update for phylum Negarnaviricota (Riboviria: Orthornavirae), including the
                    large orders Bunyavirales and Mononegavirales.<span><a
                            href="https://pubmed.ncbi.nlm.nih.gov/32888050/" target="_blank"> Archives of
                            Virology</a></span></span></th>
                <th>2020</th>
            </tr>
            <tr>
                <th> 56. Evolution and epidemic spread of SARS-CoV-2 in Brazil.<span><a
                            href="https://science.sciencemag.org/content/369/6508/1255" target="_blank">
                            Science</a></span></span></th>
                <th>2020</th>
            </tr>
            <tr>
                <th> 55. Fatal outcome of chikungunya virus infection in Brazil.<span><a
                            href="https://pubmed.ncbi.nlm.nih.gov/32766829/" target="_blank"> Clinical Infectious
                            Diseases</a></span></span></th>
                <th>2020</th>
            </tr>
            <tr>
                <th> 54. Epidemiological and clinical characteristics of the COVID-19 epidemic in Brazil.<span><a
                            href="https://www.nature.com/articles/s41562-020-0928-4" target="_blank"> Nature Human
                            Behaviour</a></span></span></th>
                <th>2020</th>
            </tr>
            <tr>
                <th> 53. Barrita Virus, a novel virus of the patois serogroup (Genus Orthobunyavirus; Family
                    Peribunyaviridae).<span><a href="https://www.ajtmh.org/content/journals/10.4269/ajtmh.19-0906"
                            target="_blank"> The American journal of tropical medicine and hygiene</a></span></span>
                </th>
                <th>2020</th>
            </tr>
            <tr>
                <th> 52. Murine and related chapparvoviruses are nephro-tropic and produce novel accessory proteins in
                    infected kidneys.<span><a
                            href="https://journals.plos.org/plospathogens/article?rev=1&id=10.1371/journal.ppat.1008262"
                            target="_blank"> PLoS Pathogens</a></span></span></th>
                <th>2020</th>
            </tr>
            <tr>
                <th> 51. Social and racial inequalities in COVID-19 risk of hospitalisation and death across São Paulo
                    state, Brazil.<span><a href="https://www.medrxiv.org/content/10.1101/2020.12.09.20246207v2.full"
                            target="_blank"> medRxiv</a></span></span></th>
                <th>2020</th>
            </tr>
            <tr>
                <th> 50. ICTV virus taxonomy profile: Peribunyaviridae.<span><a
                            href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7414433/" target="_blank"> The Journal of
                            general virology</a></span></span></th>
                <th>2020</th>
            </tr>
            <tr>
                <th> 49. Krykfeie dicistrovirus: A novel dicistrovirus in velvety free-tailed bats from Brazil.<span><a
                            href="https://www.sciencedirect.com/science/article/pii/S1567134819302631" target="_blank">
                            Infection, Genetics and Evolution</a></span></span></th>
                <th>2020</th>
            </tr>
            <tr>
                <th> 48. Characterization of three novel viruses from the families nyamiviridae, orthomyxoviridae, and
                    peribunyaviridae, isolated from dead birds collected during west nile virus.<span><a
                            href="https://www.mdpi.com/1999-4915/11/10/927" target="_blank"> Viruses</a></span></span>
                </th>
                <th>2019</th>
            </tr>
            <tr>
                <th> 47. Genomic characterization of orthobunyavirus of veterinary importance in America.<span><a
                            href="https://www.sciencedirect.com/science/article/pii/S1567134819300747" target="_blank">
                            Infection, Genetics and Evolution</a></span></span></th>
                <th>2019</th>
            </tr>
            <tr>
                <th> 46. Pingu virus: A new picornavirus in penguins from Antarctica.<span><a
                            href="https://academic.oup.com/ve/article-abstract/5/2/vez047/5675079" target="_blank">
                            Virus Evolution</a></span></span></th>
                <th>2019</th>
            </tr>
            <tr>
                <th> 45. Taxonomy of the order Bunyavirales: update 2019.<span><a
                            href="https://link.springer.com/article/10.1007/s00705-019-04253-6" target="_blank">
                            Archives of Virology</a></span></span></th>
                <th>2019</th>
            </tr>
            <tr>
                <th> 44. Human adenovirus replication and persistence in hypertrophic adenoids and palatine tonsils in
                    children.<span><a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/jmv.25441" target="_blank">
                            Journal of Medical Virology</a></span></span></th>
                <th>2019</th>
            </tr>
            <tr>
                <th> 43. An ancient lineage of highly divergent parvoviruses infects both vertebrate and invertebrate
                    hosts.<span><a href="https://www.mdpi.com/1999-4915/11/6/525" target="_blank">
                            Viruses</a></span></span></th>
                <th>2019</th>
            </tr>
        </table>
        <div id="more-publication">
            <table>
                <tr>
                    <th> 42. Development of an enzyme-linked immunosorbent assay to detect antibodies targeting
                        recombinant envelope protein 2 of Mayaro virus.<span><a
                                href="https://jcm.asm.org/content/57/5/e01892-18.abstract" target="_blank"> Journal of
                                Clinical Microbiology</a></span></span></th>
                    <th>2019</th>
                </tr>
                <tr>
                    <th> 41. Discovery of novel astrovirus and calicivirus identified in ruddy turnstones in
                        Brazil.<span><a href="https://www.nature.com/articles/s41598-019-42110-3" target="_blank">
                                Scientific Reports</a></span></span></th>
                    <th>2019</th>
                </tr>
                <tr>
                    <th> 40. A novel hepacivirus in wild rodents from South America.<span><a
                                href="https://www.mdpi.com/1999-4915/11/3/297" target="_blank">
                                Viruses</a></span></span></th>
                    <th>2019</th>
                </tr>
                <tr>
                    <th> 39. Oropouche orthobunyavirus: Genetic characterization of full-length genomes and development
                        of molecular methods to discriminate natural reassortments.<span><a
                                href="https://www.sciencedirect.com/science/article/pii/S1567134818309316"
                                target="_blank"> Infection, Genetics and Evolution</a></span></span></th>
                    <th>2019</th>
                </tr>
                <tr>
                    <th> 38. The evolution, distribution and diversity of endogenous circoviral elements in vertebrate
                        genomes.<span><a href="https://www.sciencedirect.com/science/article/pii/S0168170217309048"
                                target="_blank"> Virus Research</a></span></span></th>
                    <th>2019</th>
                </tr>
                <tr>
                    <th> 37. Enzyme-linked immunosorbent assay using recombinant envelope protein 2 antigen for
                        diagnosis of Chikungunya virus.<span><a
                                href="https://virologyj.biomedcentral.com/articles/10.1186/s12985-018-1028-1"
                                target="_blank"> Virology Journal</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 36. Viral diversity of Rhipicephalus microplus parasitizing cattle in southern Brazil.<span><a
                                href="https://www.nature.com/articles/s41598-018-34630-1" target="_blank"> Scientific
                                Reports</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 35. A novel polyomavirus in sigmodontine rodents from São Paulo State, Brazi.<span><a
                                href="https://link.springer.com/article/10.1007/s00705-018-3913-8" target="_blank">
                                Archives of Virology</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 34. Silent Orthohantavirus circulation among humans and small mammals from Central Minas
                        Gerais, Brazil.<span><a href="https://link.springer.com/article/10.1007/s10393-018-1353-2"
                                target="_blank"> EcoHealth</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 33. Insights into circovirus host range from the genomic fossil record.<span><a
                                href="https://jvi.asm.org/content/92/16/e00145-18.short" target="_blank"> Journal of
                                Virology</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 32. Genetic characterization of the Patois serogroup (genus Orthobunyavirus; family
                        Peribunyaviridae) and evidence that Estero Real Virus is a member of the genus
                        Orthonairovirus.<span><a href="https://www.ajtmh.org/content/journals/10.4269/ajtmh.18-0201"
                                target="_blank"> The American journal of tropical medicine and hygiene</a></span></span>
                    </th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 31. Natural infection of Neotropical bats with hantavirus in Brazil.<span><a
                                href="https://www.nature.com/articles/s41598-018-27442-w" target="_blank"> Scientific
                                Reports</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 30. Novel orthohepeviruses in wild rodents from Sao Paulo State, Brazil.<span><a
                                href="https://www.sciencedirect.com/science/article/pii/S0042682218301053"
                                target="_blank"> Virology</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 29. Genomic characterization and evolution of Tacaiuma orthobunyavirus (Peribunyaviridae
                        family) isolated in Brazil.<span><a
                                href="https://www.sciencedirect.com/science/article/pii/S1567134818300716"
                                target="_blank"> Infection, Genetics and Evolution</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 28. Revalidation and genetic characterization of new members of Group C (Orthobunyavirus genus,
                        Peribunyaviridae family) isolated in the Americas.<span><a
                                href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0197294"
                                target="_blank"> Plos One</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 27 Characterization of the Gamboa virus serogroup (Orthobunyavirus genus, Peribunyaviridae
                        family). Title.<span><a href="https://www.ajtmh.org/content/journals/10.4269/ajtmh.17-0810"
                                target="_blank"> The American journal of tropical medicine and hygiene</a></span></span>
                    </th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 26. Novel parvoviruses from wild and domestic animals in Brazil provide new insights into
                        parvovirus distribution and diversity.<span><a href="https://www.mdpi.com/1999-4915/10/4/143"
                                target="_blank"> Viruses</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 25. Evaluating the use of fluorescence-based flow cytometry assay for dengue diagnosis using
                        peripheral blood mononuclear cells.<span><a
                                href="http://scholar.google.com/scholar?cluster=14181299324298887907&hl=en&oi=scholarr"
                                target="_blank"> Revista da Sociedade Brasileira de Medicina Tropical</a></span></span>
                    </th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 24. Discovery of novel anelloviruses in small mammals expands the host range and diversity of
                        the Anelloviridae.<span><a
                                href="https://www.sciencedirect.com/science/article/pii/S0042682217303732"
                                target="_blank"> Virology</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 23. Genetic characterization of Cacipacoré virus from ticks collected in São Paulo State,
                        Brazil.<span><a href="https://link.springer.com/article/10.1007/s00705-017-3279-3"
                                target="_blank"> Archives of Virology</a></span></span></th>
                    <th>2017</th>
                </tr>
                <tr>
                    <th> 22. Oropouche virus: clinical, epidemiological, and molecular aspects of a neglected
                        Orthobunyavirus.<span><a href="https://www.ajtmh.org/content/journals/10.4269/ajtmh.16-0672"
                                target="_blank"> The American journal of tropical medicine and hygiene</a></span></span>
                    </th>
                    <th>2017</th>
                </tr>
                <tr>
                    <th> 21. Characterization of the Bujaru, frijoles and Tapara antigenic complexes into the sandfly
                        fever group and two unclassified phleboviruses from Brazil.<span><a
                                href="https://www.microbiologyresearch.org/content/journal/jgv/10.1099/jgv.0.000724?crawler=true"
                                target="_blank"> Journal of General Virology</a></span></span></th>
                    <th>2017</th>
                </tr>
                <tr>
                    <th> 20. Chapparvoviruses occur in at least three vertebrate classes and have a broad biogeographic
                        distribution.<span><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5646239/"
                                target="_blank"> The Journal of General Virology</a></span></span></th>
                    <th>2017</th>
                </tr>
                <tr>
                    <th> 19. Full-length genomic and molecular characterization of Canine parvovirus in dogs from North
                        of Brazil.<span><a
                                href="http://www.funpecrp.com.br/gmr/year2017/vol16-3/pdf/gmr-16-03-gmr.16039719.pdf"
                                target="_blank"> Genetics and Molecular Research </a></span></span></th>
                    <th>2017</th>
                </tr>
                <tr>
                    <th> 18. A real-time RT-PCR for rapid detection and quantification of mosquito-borne
                        alphaviruses.<span><a href="https://link.springer.com/article/10.1007/s00705-016-3019-0"
                                target="_blank"> Arquives of virology</a></span></span></th>
                    <th>2016</th>
                </tr>
                <tr>
                    <th> 17. Complete genome sequence of Piry vesiculovirus.<span><a
                                href="https://link.springer.com/article/10.1007/s00705-016-2905-9" target="_blank">
                                Archives of virology</a></span></span></th>
                    <th>2016</th>
                </tr>
                <tr>
                    <th> 16. Evaluation and optimization of SYBR Green real-time reverse transcription polymerase chain
                        reaction as a tool for diagnosis of the Flavivirus genus in Brazil.<span><a
                                href="https://www.scielo.br/scielo.php?pid=S0037-86822016000300279&script=sci_arttext"
                                target="_blank"> Revista da Sociedade Brasileira de Medicina Tropical</a></span></span>
                    </th>
                    <th>2016</th>
                </tr>
                <tr>
                    <th> 15. A real-time reverse transcriptase polymerase chain reaction for detection and
                        quantification of Vesiculovirus.<span><a
                                href="https://www.scielo.br/scielo.php?pid=S0074-02762016000600385&script=sci_abstract&tlng=pt"
                                target="_blank"> Memórias do Instituto Oswaldo Cruz</a></span></span></th>
                    <th>2016</th>
                </tr>
                <tr>
                    <th> 14. Experimental infection of Rio Mamore hantavirus in Sigmodontinae rodents.<span><a
                                href="https://www.scielo.br/scielo.php?pid=S0074-02762016000600399&script=sci_arttext"
                                target="_blank"> Memórias do Instituto Oswaldo Cruz</a></span></span></th>
                    <th>2016</th>
                </tr>
                <tr>
                    <th> 13. Mutations in the Schmallenberg virus Gc glycoprotein facilitate cellular protein synthesis
                        shutoff and restore pathogenicity of NSs deletion mutants in mice.<span><a
                                href="https://jvi.asm.org/content/90/11/5440.short" target="_blank"> Journal of
                                Virology</a></span></span></th>
                    <th>2016</th>
                </tr>
                <tr>
                    <th> 12. Diagnosis of Hantavirus Infections.<span><a
                                href="https://onlinelibrary.wiley.com/doi/abs/10.1128/9781555818722.ch68"
                                target="_blank"> Manual of Molecular and Clinical Laboratory
                                Immunology</a></span></span></th>
                    <th>2016</th>
                </tr>
                <tr>
                    <th> 11. Development of a novel plaque reduction neutralisation test for hantavirus
                        infection.<span><a
                                href="https://www.scielo.br/scielo.php?pid=S0074-02762015005050102&script=sci_arttext"
                                target="_blank"> Memórias do Instituto Oswaldo Cruz</a></span></span></th>
                    <th>2015</th>
                </tr>
                <tr>
                    <th> 10. Analysis of the nucleocapsid gene brings new insights to the classification of
                        Sigmodontinae-borne hantaviruses.<span><a
                                href="https://link.springer.com/content/pdf/10.1007/s00705-014-2088-1.pdf"
                                target="_blank"> Archives of virology</a></span></span></th>
                    <th>2014</th>
                </tr>
                <tr>
                    <th> 9. Hantaviruses and Cardiopulmonary Syndrome in South America.<span><a
                                href="https://scholar.google.com.br/scholar?oi=bibs&cluster=11809381804938871798&btnI=1&hl=en"
                                target="_blank"> Virus Research</a></span></span></th>
                    <th>2014</th>
                </tr>
                <tr>
                    <th> 8. Infection with Saint Louis encephalitis virus in the city of Ribeirao Preto, Brazil: report
                        of one case.<span><a href="https://www.sciencedirect.com/science/article/pii/S120197121401546X"
                                target="_blank"> International Journal of Infectious Diseases</a></span></span></th>
                    <th>2014</th>
                </tr>
                <tr>
                    <th> 7. A Saint Louis encephalitis and Rocio virus serosurvey in Brazilian horses.<span><a
                                href="https://www.scielo.br/scielo.php?pid=S0037-86822014000400414&script=sci_arttext"
                                target="_blank"> Revista da Sociedade Brasileira de Medicina Tropical</a></span></span>
                    </th>
                    <th>2014</th>
                </tr>
                <tr>
                    <th> 6. Phylogeography and evolutionary history of rodent-borne hantaviruses.<span><a
                                href="https://www.sciencedirect.com/science/article/pii/S1567134813004310"
                                target="_blank"> Infection, Genetics and Evolution</a></span></span></th>
                    <th>2014</th>
                </tr>
                <tr>
                    <th> 5. Effects of creatine supplementation on biomarkers of hepatic and renal function in young
                        trained rats.<span><a href="https://www.tandfonline.com/doi/abs/10.3109/15376516.2013.843108"
                                target="_blank"> Toxicology mechanisms and methods</a></span></span></th>
                    <th>2013</th>
                </tr>
                <tr>
                    <th> 4. Development of a One-Step SYBR Green I Real-Time RT-PCR Assay for the Detection and
                        Quantitation of Araraquara and Rio Mamore Hantavirus.<span><a
                                href="https://www.mdpi.com/1999-4915/5/9/2272" target="_blank">
                                Viruses</a></span></span></th>
                    <th>2013</th>
                </tr>
                <tr>
                    <th> 3. Antibody levels to hantavirus in inhabitants of western Santa Catarina State, Brazil.
                        <span><a href="https://www.scielo.br/scielo.php?pid=S0036-46652012000400002&script=sci_arttext&tlng=pt"
                                target="_blank"> Revista da Sociedade Brasileira de Medicina Tropical</a></span></span>
                    </th>
                    <th>2012</th>
                </tr>
                <tr>
                    <th> 2. Serosurvey of hantavirus infection in humans in the border region between Brazil and
                        Argentina. <span><a
                                href="https://www.scielo.br/scielo.php?pid=S0037-86822011005000013&script=sci_arttext"
                                target="_blank"> Revista da Sociedade Brasileira de Medicina Tropical</a></span></span>
                    </th>
                    <th>2011</th>
                </tr>
                <tr>
                    <th> 1. Prevalência de parasitas intestinais na população do Bairro Salete, município de São Miguel
                        do Oeste, SC.<span><a href="https://core.ac.uk/download/pdf/235124102.pdf" target="_blank">
                                Unoesc & Ciência-ACBS</a></span></span></th>
                    <th>2010</th>
                </tr>
            </table>
        </div>
        <div class="bt">
            <input type="button" value="Show & Hide" id="btn1">
        </div>
        <script src="{% static 'js/s&h.js' %}"></script>
    </section>
    </div>
</main>     
{% endblock %}