{% extends 'base.html' %}{% load static %}
{% block resources %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/publications.css' %}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link
        rel="sortcut icon"
        href="{% static 'images/Arboverse_logo-2.png' %}"
        type="image/png"
    />

{% endblock %}
{% block title %}Publications{% endblock %}

{% block content %}
<!--PUBLICATION AREA-->
<main>
    <div class="main-content">
        <h2 class="title">Title</h2>
        <h2 class="title">Year of publication</h2>
    </div>
    <section class="publications-title">
        <table>
            <tr>
                <th> 65. Levels of SARS-CoV-2 lineage P.1 neutralization by antibodies elicited after natural
                    infection and vaccination: an immunological study.<span><a href="tbc/" target="_blank">
                            The Lancet Microbe</a></span></span></th>
                <th>2021</th>
            </tr>
            <tr>
                <th> 64. 2021 Taxonomic update of phylum Negarnaviricota (Riboviria: Orthornavirae), including the
                    large orders Bunyavirales and Mononegavirales.<span><a href="tbc/" target="_blank"> Archives of
                            Virology </a></span></span></th>
                <th>2021</th>
            </tr>
            <tr>
                <th> 63. Higher risk of death from COVID-19 in low-income and non-White populations of São Paulo,
                    Brazil .<span><a href="http://dx.doi.org/10.1136/bmjgh-2021-004959" target="_blank"> BMJ Global
                            Health </a></span></span></th>
                <th>2021</th>
            </tr>
            <tr>
                <th> 62. Genomics and epidemiology of the P.1 SARS-CoV-2 lineage in Manaus, Brazil.<span><a
                            href="https://doi.org/10.1126/science.abh2644" target="_blank"> Science
                        </a></span></span></th>
                <th>2021</th>
            </tr>
            <tr>
                <th> 61. Respiratory Viral Shedding in Healthcare Workers Reinfected with SARS-CoV-2, Brazil,
                    2020.<span><a href="https://doi.org/10.3201/eid2706.210558" target="_blank"> Emerging Infectious
                            Diseases </a></span></span></th>
                <th>2021</th>
            </tr>
            <tr>
                <th> 60. SARS-CoV-2 reinfection caused by the P.1 lineage in Araraquara city, Sao Paulo State,
                    Brazil.<span><a href="http://dx.doi.org/10.1590/s1678-9946202163036 " target="_blank"> Revista
                            do Instituto de Medicina Tropical de São Paulo </a></span></span></th>
                <th>2021</th>
            </tr>
            <tr>
                <th> 59. Dataset on SARS-CoV-2 non-pharmaceutical interventions in Brazilian municipalities.<span><a
                            href="https://doi.org/10.1038/s41597-021-00859-1" target="_blank"> Scientific Data
                        </a></span></span></th>
                <th>2021</th>
            </tr>
            <tr>
                <th> 58. Epidemiology and evolution of Zika virus in Minas Gerais, Southeast Brazil.<span><a
                            href="https://doi.org/10.1016/j.meegid.2021.104785" target="_blank"> Infection, Genetics
                            and Evolution</a></span></span></th>
                <th>2021</th>
            </tr>
            <tr>
                <th> 57. 2020 taxonomic update for phylum Negarnaviricota (Riboviria: Orthornavirae), including the
                    large orders Bunyavirales and Mononegavirales.<span><a
                            href="https://doi.org/10.1007/s00705-020-04731-2" target="_blank"> Archives of
                            Virology</a></span></span></th>
                <th>2020</th>
            </tr>
            <tr>
                <th> 56. Evolution and epidemic spread of SARS-CoV-2 in Brazil.<span><a href="
                            https://doi.org/10.1126/science.abd2161" target="_blank">
                            Science</a></span></span></th>
                <th>2020</th>
            </tr>
            <tr>
                <th> 55. Fatal outcome of chikungunya virus infection in Brazil.<span><a
                            href="https://doi.org/10.1093/cid/ciaa1038" target="_blank"> Clinical Infectious
                            Diseases</a></span></span></th>
                <th>2020</th>
            </tr>
            <tr>
                <th> 54. Epidemiological and clinical characteristics of the COVID-19 epidemic in Brazil.<span><a
                            href="https://doi.org/10.1038/s41562-020-0928-4" target="_blank"> Nature Human
                            Behaviour</a></span></span></th>
                <th>2020</th>
            </tr>
            <tr>
                <th> 53. Barrita Virus, a novel virus of the patois serogroup (Genus Orthobunyavirus; Family
                    Peribunyaviridae).<span><a href="https://doi.org/10.4269/ajtmh.19-0906" target="_blank"> The
                            American Journal of Tropical Medicine and Hygiene</a></span></span>
                </th>
                <th>2020</th>
            </tr>
            <tr>
                <th> 52. Murine and related chapparvoviruses are nephro-tropic and produce novel accessory proteins
                    in infected kidneys.<span><a href="https://doi.org/10.1371/journal.ppat.1008262"
                            target="_blank"> PLoS Pathogens</a></span></span></th>
                <th>2020</th>
            </tr>
            <tr>
                <th> 51. ICTV virus taxonomy profile: Peribunyaviridae.<span><a
                            href="https://doi.org/10.1099/jgv.0.001365" target="_blank">
                            Journal of General Virology</a></span></span></th>
                <th>2020</th>
            </tr>
            <tr>
                <th> 50. Krykféie dicistrovirus: A novel dicistrovirus in velvety free-tailed bats from
                    Brazil.<span><a href="https://doi.org/10.1016/j.meegid.2019.104036" target="_blank"> Infection,
                            Genetics and Evolution</a></span></span></th>
                <th>2020</th>
            </tr>
            <tr>
                <th> 49. Characterization of three novel viruses from the families nyamiviridae, orthomyxoviridae,
                    and peribunyaviridae, isolated from dead birds collected during west nile virus.<span><a
                            href=" https://doi.org/10.3390/v11100927" target="_blank">
                            Viruses</a></span></span></th>
                <th>2019</th>
            </tr>
            <tr>
                <th> 48. Genomic characterization of orthobunyavirus of veterinary importance in America.<span><a
                            href="https://doi.org/10.1016/j.meegid.2019.04.030" target="_blank"> Infection, Genetics
                            and Evolution</a></span></span></th>
                <th>2019</th>
            </tr>
            <tr>
                <th> 47. Pingu virus: A new picornavirus in penguins from Antarctica.<span><a
                            href="https://doi.org/10.1093/ve/vez047" target="_blank">
                            Virus Evolution</a></span></span></th>
                <th>2019</th>
            </tr>
            <tr>
                <th> 46. Taxonomy of the order Bunyavirales: update 2019.<span><a
                            href="https://doi.org/10.1007/s00705-019-04253-6" target="_blank">
                            Archives of Virology</a></span></span></th>
                <th>2019</th>
            </tr>
            <tr>
                <th> 45. Human adenovirus replication and persistence in hypertrophic adenoids and palatine tonsils
                    in children.<span><a href="https://doi.org/10.1002/jmv.25441" target="_blank"> Journal of
                            Medical Virology</a></span></span></th>
                <th>2019</th>
            </tr>
            <tr>
                <th> 44. An ancient lineage of highly divergent parvoviruses infects both vertebrate and
                    invertebrate hosts.<span><a href=" https://doi.org/10.3390/v11060525" target="_blank">
                            Viruses</a></span></span></th>
                <th>2019</th>
            </tr>
        </table>
        <div id="more-publication">
            <table>
                <tr>
                    <th> 43. Development of an Enzyme-Linked Immunosorbent Assay To Detect Antibodies Targeting
                        Recombinant Envelope Protein 2 of Mayaro Virus.<span><a
                                href="https://doi.org/10.1128/JCM.01892-18" target="_blank"> Journal
                                of Clinical Microbiology</a></span></span></th>
                    <th>2019</th>
                </tr>
                <tr>
                    <th> 42. Discovery of novel astrovirus and calicivirus identified in ruddy turnstones in
                        Brazil.<span><a href="https://doi.org/10.1038/s41598-019-42110-3" target="_blank">
                                Scientific Reports</a></span></span></th>
                    <th>2019</th>
                </tr>
                <tr>
                    <th> 41. A novel hepacivirus in wild rodents from South America.<span><a
                                href="https://doi.org/10.3390/v11030297" target="_blank">
                                Viruses</a></span></span></th>
                    <th>2019</th>
                </tr>
                <tr>
                    <th> 40. Oropouche orthobunyavirus: Genetic characterization of full-length genomes and
                        development of molecular methods to discriminate natural reassortments.<span><a
                                href="https://doi.org/10.1016/j.meegid.2018.11.020" target="_blank"> Infection,
                                Genetics and Evolution</a></span></span></th>
                    <th>2019</th>
                </tr>
                <tr>
                    <th> 39. The evolution, distribution and diversity of endogenous circoviral elements in
                        vertebrate genomes.<span><a href="https://doi.org/10.1016/j.virusres.2018.03.014"
                                target="_blank"> Virus Research</a></span></span></th>
                    <th>2019</th>
                </tr>
                <tr>
                    <th> 38. Enzyme-linked immunosorbent assay using recombinant envelope protein 2 antigen for
                        diagnosis of Chikungunya virus.<span><a href="https://doi.org/10.1186/s12985-018-1028-1"
                                target="_blank"> Virology Journal</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 37. Viral diversity of Rhipicephalus microplus parasitizing cattle in southern
                        Brazil.<span><a href="https://doi.org/10.1038/s41598-018-34630-1" target="_blank">
                                Scientific Reports</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 36. A novel polyomavirus in sigmodontine rodents from São Paulo State, Brazi.<span><a
                                href="https://doi.org/10.1007/s00705-018-3913-8" target="_blank">
                                Archives of Virology</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 35. Silent Orthohantavirus Circulation Among Humans and Small Mammals from Central Minas
                        Gerais, Brazil.<span><a href="https://doi.org/10.1007/s10393-018-1353-2" target="_blank">
                                EcoHealth</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 34. Insights into circovirus host range from the genomic fossil record.<span><a
                                href="https://doi.org/10.1128/JVI.00145-18" target="_blank"> Journal of
                                Virology</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 33. Genetic characterization of the Patois serogroup (genus Orthobunyavirus; family
                        Peribunyaviridae) and evidence that Estero Real Virus is a member of the genus
                        Orthonairovirus.<span><a href="https://doi.org/10.4269/ajtmh.18-0201" target="_blank"> The
                                American Journal of Tropical Medicine and Hygiene</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 32. Natural infection of Neotropical bats with hantavirus in Brazil.<span><a
                                href="https://doi.org/10.1038/s41598-018-27442-w" target="_blank">
                                Scientific Reports</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 31. Novel orthohepeviruses in wild rodents from São Paulo State, Brazil.<span><a
                                href="https://doi.org/10.1016/j.virol.2018.03.025" target="_blank">
                                Virology</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 30. Genomic characterization and evolution of Tacaiuma orthobunyavirus (Peribunyaviridae
                        family) isolated in Brazil.<span><a href="https://doi.org/10.1016/j.meegid.2018.02.027"
                                target="_blank"> Infection, Genetics and Evolution</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 29. Revalidation and genetic characterization of new members of Group C (Orthobunyavirus
                        genus, Peribunyaviridae family) isolated in the Americas.<span><a
                                href="https://doi.org/10.1371/journal.pone.0197294" target="_blank"> PLoS
                                ONE</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 28. Characterization of the Gamboa virus serogroup (Orthobunyavirus genus, Peribunyaviridae
                        family). <span><a href="https://doi.org/10.4269/ajtmh.17-0810" target="_blank"> The American
                                Journal of Tropical Medicine and Hygiene</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 27. Novel Parvoviruses from Wild and Domestic Animals in Brazil Provide New Insights into
                        Parvovirus Distribution and Diversity.<span><a href="https://doi.org/10.3390/v10040143"
                                target="_blank">
                                Viruses</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 26. Evaluating the use of fluorescence-based flow cytometry assay for dengue diagnosis
                        using peripheral blood mononuclear cells.<span><a
                                href="https://doi.org/10.1590/0037-8682-0404-2017 " target="_blank"> Revista da
                                Sociedade Brasileira de Medicina Tropical</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 25. Discovery of novel anelloviruses in small mammals expands the host range and diversity
                        of the Anelloviridae.<span><a href="https://doi.org/10.1016/j.virol.2017.11.001"
                                target="_blank"> Virology</a></span></span></th>
                    <th>2018</th>
                </tr>
                <tr>
                    <th> 24. Genetic characterization of Cacipacoré virus from ticks collected in São Paulo State,
                        Brazil.<span><a href="https://doi.org/10.1007/s00705-017-3279-3" target="_blank"> Archives
                                of Virology</a></span></span></th>
                    <th>2017</th>
                </tr>
                <tr>
                    <th> 23. Oropouche Virus: Clinical, Epidemiological, and Molecular Aspects of a Neglected
                        Orthobunyavirus.<span><a href="https://doi.org/10.4269/ajtmh.16-0672" target="_blank">
                                The American Journal of Tropical Medicine and Hygiene</a></span></span></th>
                    <th>2017</th>
                </tr>
                <tr>
                    <th> 22. Characterization of the Bujaru, frijoles and Tapara antigenic complexes into the
                        sandfly fever group and two unclassified phleboviruses from Brazil.<span><a
                                href="https://doi.org/10.1099/jgv.0.000724" target="_blank"> Journal of General
                                Virology</a></span></span></th>
                    <th>2017</th>
                </tr>
                <tr>
                    <th> 21. Chapparvoviruses occur in at least three vertebrate classes and have a broad
                        biogeographic distribution.<span><a href="https://doi.org/10.1099/jgv.0.000671"
                                target="_blank"> The
                                Journal of General Virology</a></span></span></th>
                    <th>2017</th>
                </tr>
                <tr>
                    <th> 20. Full-length genomic and molecular characterization of Canine parvovirus in dogs from
                        North of Brazil.<span><a href="http://dx.doi.org/10.4238/gmr16039719" target="_blank">
                                Genetics and Molecular Research </a></span></span></th>
                    <th>2017</th>
                </tr>
                <tr>
                    <th> 19. A real-time RT-PCR for rapid detection and quantification of mosquito-borne
                        alphaviruses.<span><a href="https://doi.org/10.1007/s00705-016-3019-0" target="_blank">
                                Archives of Virology</a></span></span></th>
                    <th>2016</th>
                </tr>
                <tr>
                    <th> 18. Complete genome sequence of Piry vesiculovirus.<span><a
                                href="https://doi.org/10.1007/s00705-016-2905-9" target="_blank">
                                Archives of Virology</a></span></span></th>
                    <th>2016</th>
                </tr>
                <tr>
                    <th> 17. Adipocytokines, inflammatory and oxidative stress markers of clinical relevance altered
                        in young overweight/obese subjects.<span><a href="https://doi.org/10.1590/0074-02760150456"
                                target="_blank"> Clinical Biochemistry</a></span></span></th>
                    <th>2016</th>
                </tr>
                <tr>
                    <th> 16. Evaluation and optimization of SYBR Green real-time reverse transcription polymerase
                        chain reaction as a tool for diagnosis of the Flavivirus genus in Brazil<span><a
                                href="https://doi.org/10.1590/0037-8682-0444-2015" target="_blank"> Revista da
                                Sociedade Brasileira de Medicina
                                Tropical</a></span></span></th>
                    <th>2016</th>
                </tr>
                <tr>
                    <th> 15. A real-time reverse transcriptase polymerase chain reaction for detection and
                        quantification of Vesiculovirus.<span><a href="https://doi.org/10.1590/0074-02760150456"
                                target="_blank"> Memórias do Instituto Oswaldo Cruz</a></span></span></th>
                    <th>2016</th>
                </tr>
                <tr>
                    <th> 14. Experimental infection of Rio Mamore hantavirus in Sigmodontinae rodents.<span><a
                                href="https://doi.org/10.1590/0074-02760160021" target="_blank"> Memórias do
                                Instituto Oswaldo Cruz</a></span></span></th>
                    <th>2016</th>
                </tr>
                <tr>
                    <th> 13. Mutations in the Schmallenberg Virus Gc Glycoprotein Facilitate Cellular Protein
                        Synthesis Shutoff and Restore Pathogenicity of NSs Deletion Mutants in Mice.<span><a
                                href="https://doi.org/10.1128/JVI.00424-16" target="_blank"> Journal of
                                Virology</a></span></span></th>
                    <th>2016</th>
                </tr>
                <tr>
                    <th> 12. Chapter 68: Diagnosis of Hantavirus Infections.<span><a
                                href=" https://doi.org/10.1128/9781555818722.ch68" target="_blank"> Manual of
                                Molecular and Clinical Laboratory
                                Immunology</a></span></span></th>
                    <th>2016</th>
                </tr>
                <tr>
                    <th> 11. Development of a novel plaque reduction neutralisation test for hantavirus
                        infection.<span><a href="https://doi.org/10.1590/0074-02760150102" target="_blank"> Memórias
                                do Instituto Oswaldo Cruz</a></span></span></th>
                    <th>2015</th>
                </tr>
                <tr>
                    <th> 10. Analysis of the nucleocapsid gene brings new insights to the classification of
                        Sigmodontinae-borne hantaviruses.<span><a href="https://doi.org/10.1007/s00705-014-2088-1"
                                target="_blank"> Archives of Virology</a></span></span></th>
                    <th>2014</th>
                </tr>
                <tr>
                    <th> 9. Hantaviruses and cardiopulmonary syndrome in South America.<span><a
                                href="https://doi.org/10.1016/j.virusres.2014.01.015" target="_blank"> Virus
                                Research</a></span></span></th>
                    <th>2014</th>
                </tr>
                <tr>
                    <th> 8. Infection with Saint Louis encephalitis virus in the city of Ribeirao Preto, Brazil:
                        report of one case.<span><a href="https://doi.org/10.1016/j.ijid.2014.05.018"
                                target="_blank"> International Journal of Infectious Diseases</a></span></span></th>
                    <th>2014</th>
                </tr>
                <tr>
                    <th> 7. A Saint Louis encephalitis and Rocio virus serosurvey in Brazilian horses.<span><a
                                href="http://dx.doi.org/10.1590/0037-8682-0117-2014" target="_blank"> Revista da
                                Sociedade Brasileira de Medicina Tropical</a></span></span></th>
                    <th>2014</th>
                </tr>
                <tr>
                    <th> 6. Phylogeography and evolutionary history of rodent-borne hantaviruses.<span><a
                                href="https://doi.org/10.1016/j.meegid.2013.11.015" target="_blank"> Infection,
                                Genetics and Evolution</a></span></span></th>
                    <th>2014</th>
                </tr>
                <tr>
                    <th> 5. Effects of creatine supplementation on biomarkers of hepatic and renal function in young
                        trained rats.<span><a href="https://doi.org/10.3109/15376516.2013.843108" target="_blank">
                                Toxicology Mechanisms and Methods </a></span></span></th>
                    <th>2013</th>
                </tr>
                <tr>
                    <th> 4. Development of a One-Step SYBR Green I Real-Time RT-PCR Assay for the Detection and
                        Quantitation of Araraquara and Rio Mamore Hantavirus.<span><a
                                href="https://doi.org/10.3390/v5092272" target="_blank">
                                Viruses</a></span></span></th>
                    <th>2013</th>
                </tr>
                <tr>
                    <th> 3. Antibody levels to hantavirus in inhabitants of western Santa Catarina State, Brazil.
                        <span><a href="https://doi.org/10.1590/S0036-46652012000400002" target="_blank"> Revista do
                                Instituto de Medicina Tropical de São Paulo
                            </a></span></span>
                    </th>
                    <th>2012</th>
                </tr>
                <tr>
                    <th> 2. Serosurvey of hantavirus infection in humans in the border region between Brazil and
                        Argentina. <span><a href="https://doi.org/10.1590/S0037-86822011005000013 " target="_blank">
                                Revista da Sociedade Brasileira de Medicina Tropical</a></span></span></th>
                    <th>2011</th>
                </tr>
                <tr>
                    <th> 1. Prevalência de parasitas intestinais na população do Bairro Salete, município de São
                        Miguel do Oeste, SC.<span><a
                                href="https://portalperiodicos.unoesc.edu.br/acbs/article/view/49" target="_blank">
                                Unoesc & Ciência-ACBS</a></span></span></th>
                    <th>2010</th>
                </tr>
            </table>
        </div>
        <div class="bt">
            <button onclick="MyFunction()">Show and Hide</button>
        </div>
        <script src="{% static 'js/s&h.js' %}"></script>
    </section>
    </div>
</main>
{% endblock %}
