
<!--FUNDING-->
<section class="funding_section">
    <div class="line-grey"></div>
    <div class="fund-wrapper">
        <div class="fund-endorsed">
            <h6>Developed by</h6>
            <div class="support">
                <a href="https://desouzalab.com" aria-label="De Souza Lab homepage link" target="_blank"><img src="../static/images/logos/DeSouzaLAB_logo.png"></a>
            </div>
        </div>
        <div class="fund-support">
            <h6>Supported by</h6>
            <div class="support">
                <a href="https://gvn.org" aria-label="GVN homepage link" target="_blank"><img class="gvn" src="../static/images/logos/logoGVN-3.png"></a>
                <a href="https://wellcome.org" aria-label="Wellcome homepage link" target="_blank"><img src="../static/images/logos/wellcome-logo-black.png"></a>
                <a href="https://www.bwfund.org" aria-label="Burroughs Wellcome Fund homepage link" target="_blank"><img src="../static/images/logos/BWF_logo.png"></a>
            </div>
        </div>
        <div class="fund-partners">
            <h6>Partners</h6>
            <div class="support">
                <a href="https://www.uky.edu/" aria-label="University of Kentucky homepage link" target="_blank"><img src="../static/images/logos/UK_logo-black.png"></a>
                <a href="https://www.utmb.edu/" aria-label="University Texas Medical Branch homepage link" target="_blank"><img src="../static/images/logos/UTMB_Health_Black.png"></a>
                <a href="https://www.nus.edu.sg//" aria-label="National University of Singapore homepage link" target="_blank"><img src="../static/images/logos/nus-logo-black-horizontal.jpg" id="nus"></a>
                <a href="https://www.ox.ac.uk/" aria-label="Unversity of Oxford homepage link" target="_blank"><img src="../static/images/logos/university-of-oxford-logo.png" id="oxf"></a>
                <a href="https://www.imperial.ac.uk/" aria-label="Imperal College London homepage link" target="_blank"><img src="../static/images/logos/Logo_for_Imperial_College_London.svg.png" id="imp"></a>
                <a href="https://www.ku.dk/" aria-label="University of Copenhagen homepage link" target="_blank"><img src="../static/images/logos/university_of_copenhagen.png" id="cop"></a>
                <a href="https://www5.usp.br/" aria-label="University of Sao Paulo homepage link" target="_blank"><img src="../static/images/logos/USP-600x337.png"></a>
                <a href="https://www.unicamp.br" aria-label="Universidade Estadual de Campinas UNICAMP homepage link" target="_blank"><img src="../static/images/logos/UNICAMP_logo.svg.png"></a>
                <a href="https://www.stanford.edu/" aria-label="Stanford University homepage link" target="_blank"><img src="../static/images/logos/stanford-bw-logo.png" id="stan"></a>
            </div>
        </div>
    </div>
</section>
